<div class="blockslider">
  <div class="blockslide">
    <div class="flexwrapper">
      <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/textiles_1.svg" alt="Fabric Quality" >
      <h4>Fabric Quality</h4>
      <p>Vegan silk scrubs: outstanding fabric, moisture-wicking, non-piling, and designed with nurses' needs in mind.</p>
    </div>
  </div>
  <div class="blockslide">
    <div class="flexwrapper">
      <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_7.svg" alt="Comfortable Fit" >
      <h4>Comfortable Fit</h4>
      <p>This scrub set has a tailored fit with adjustable drawstrings that allow you to adjust the fit according to your body type, providing a comfortable fit that is not too tight or too loose.</p>
    </div>
  </div>
  <div class="blockslide">
    <div class="flexwrapper">
      <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/laundry_1.svg" alt="Stylish Design" >
      <h4>Stylish Design</h4>
      <p>The scrub set comes in a range of attractive colors and features a stylish design that is suitable for both male and female healthcare professionals.</p>
    </div>
  </div>
</div>