{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_e352686d-11b3-4326-ad82-8260998ffdde = section.settings['replo_text_e352686d-11b3-4326-ad82-8260998ffdde'] -%}
    {%- capture default_replo_text_e352686d-11b3-4326-ad82-8260998ffdde -%}<p>Scrubs you can wear and wear</p>{%- endcapture -%}
    {%- assign replo_text_e352686d-11b3-4326-ad82-8260998ffdde = replo_text_e352686d-11b3-4326-ad82-8260998ffdde | default: default_replo_text_e352686d-11b3-4326-ad82-8260998ffdde -%}
    "replo_text_e352686d-11b3-4326-ad82-8260998ffdde": {{ replo_text_e352686d-11b3-4326-ad82-8260998ffdde | json }}, {%- assign replo_text_ffb59253-7bb2-43f4-99c4-ed60813402d8 = section.settings['replo_text_ffb59253-7bb2-43f4-99c4-ed60813402d8'] -%}
    {%- capture default_replo_text_ffb59253-7bb2-43f4-99c4-ed60813402d8 -%}<p><strong>Made with soft, breathable, sweat-wicking fabric, it’s durable, wrinkle-resistant, and easy to care for.</strong></p>{%- endcapture -%}
    {%- assign replo_text_ffb59253-7bb2-43f4-99c4-ed60813402d8 = replo_text_ffb59253-7bb2-43f4-99c4-ed60813402d8 | default: default_replo_text_ffb59253-7bb2-43f4-99c4-ed60813402d8 -%}
    "replo_text_ffb59253-7bb2-43f4-99c4-ed60813402d8": {{ replo_text_ffb59253-7bb2-43f4-99c4-ed60813402d8 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}