<div class="size-guide-wrapper">
    <div class="size-guide section-id-{{ section.id }}">

        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_147.png?v=1706547860" class="close-guide">
        <h4>Tie Back Scrub Caps</h4>
        <p>When covering short hair:</p>
        <ul>
            <li>Our Tie Back Scrub Caps fit almost all heads.</li>
            <li>They stretch up to 62 cm in circumference. That’s hat sizes XS - XXL.</li>
        </ul>
        <p>When covering medium-long hair in a bun:</p>
        <ul>
            <li>The caps have an elastic back to stretch over your bun.</li>
            <li>They stretch up to 62 cm in circumference.</li>
            <li>To check the fit, tie your hair in a bun just below the crown of your head and measure around your head with the bun included.</li>
        </ul>
        <h4>Ponytail Scrub Caps</h4>
        <p>Our Ponytail Scrub Caps fit almost all heads.</p>
        <ul>
            <li>The hat stretches up to 65cm in circumference. That’s hat sizes XS -XXXL.</li>
            <li>The ponytail pouch can stretch up to 10cm. That’s roughly the size of a cantaloupe.</li>
            
        </ul>
        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/SCRUBCAP_480x480_8e2018f1-a6e2-4f02-9ddb-7d50a3bacaa6.webp?v=1714812172" class="img size-table-1">
        <hr/>
        {% comment %}
            <h4>How to measure</h4>
            {% if product.tags contains 'Men' %}
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_186.svg?v=1707117345" class="img humanpic">
            {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_186_1.svg?v=1707117344" class="img humanpic">
            {% endif %}
        
        <h4>How to measure</h4>
        {% endcomment %}
        <h4>Frequently asked questions</h4>
        <div class="accordion">
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>I'm worried about buying online. Are Dr. Woof's products as good as they look?</h6>
                <p>Yes!<br><br>… but we understand you being cautious.<br><br>Nowadays, almost everyone's had at least one bad online shopping experience—the sort where a product looks amazing online but ends up being low-quality junk.<br><br>It sucks, and you deserve better.<br><br>That's why Dr. Woof says no to dropshipping, white-labelling and corner-cutting of any kind. When a product has a Dr. Woof label, you know it's:<br>✔️ Designed by our team<br>✔️ Made to last with high-quality fabrics and craftsmanship<br>✔️Tested through an independent quality assurance process<br>✔️ Shipped from our warehouse in Melbourne, Australia or California, USA.<br><br>If you've been burned with online shopping before, it might be comforting to know that:<br>* Our products have thousands of 5-star reviews, with more popping up every day.<br>* Many reputable uniform companies stock Dr. Woof items, including Smile Wear and Sauers Uniforms Australia.<br>* Over 200 clinics choose Dr. Woof for their uniforms.</p>
             </div>
             
             <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>What's your return and exchange policy for scrub caps?</h6>
                <p>Our mission is to make the medical world smile.<br><br>If you don't fall head over heels in love with your scrub cap, contact us for a refund, exchange or replacement.<br><br>There are a few conditions:<br>* You must contact us within 60 days of purchase.<br>* Items must be clean, unworn and in their original packaging.<br>* We don't accept refunds or exchanges on clearance items.<br>* You'll need to cover the cost of shipping.</p>
             </div>
             
             <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>How much will shipping cost?</h6>
                <p>Enjoy free shipping for orders over $150 — no matter where in Australia you live.<br><br>For orders under $150, shipping is calculated at checkout.</p>
             </div>
             
             <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Will your scrub caps cover my hair?</h6>
                <p>Our tieback scrub caps have an elastic section at the back. You can use this to stretch the cap over a low hair bun.<br><br>We recommend tieback caps if:<br>* You like to wear your hair in a bun.<br>* Your head circumference, including the bun, is less than 62cm.<br><br>Our ponytail scrub caps have an elastic pouch to keep your hair in.<br><br>We recommend ponytail caps if:<br>* You like to wear your hair in a ponytail or bun.<br>* When you tie your hair in a bun, the diameter is less than 10cm.</p>
             </div>
             
             <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>I have a big or small head. Will your scrub caps fit me?</h6>
                <p>Our caps are adjustable, so you can<br>* Stretch them up to a circumference of 62cm or hat size XXL.<br>* Cinch them down to a circumference of 50cm or hat size XS.<br>* Fold the bottom up — so it sits at the perfect spot across your forehead.</p>
             </div>
             
             <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Are Dr. Woof scrub caps easy to care for?</h6>
                <p>Yes.<br><br><strong>For cotton caps:</strong><br>Toss your scrub cap in the washing machine with similar colours and wash up to 40°C.<br>We recommend air drying to avoid shrinkage.<br><br><strong>For perfect match caps:</strong><br>Toss your scrub cap in the washing machine with similar colors, cold wash and then tumble dry low.</p>
             </div>
        </div>
    
    </div>
</div>

{% comment %}
    size-guide
    h4
    img
    close-guide
    accordion
        accordion-item
            h6
            p
        item-plus
        item-minus
{% endcomment %}
<style>
    .size-guide-wrapper{
        width:100%;
        height:100vh;
        position:fixed;
        top:0px;
        right:-100%;
        /* background: rgba(0,0,0,0.6); */
         transition: all 0.5s ease;
        z-index: 99999;
        overflow-y:scroll;
    }
    .size-guide-wrapper hr{
        border-top:1px solid #EBEBEB;
        height: 1px;
        margin-top:24px;
        margin-bottom:24px;
    }
   
    .size-guide{
        width:489px;
        background:#fff;
        color:#010101;
        z-index:9999;
        position:absolute;
        top:0;
        right:0;
        
        padding:20px;
    }
    .sizeslider{
        margin-bottom:20px;
    }
    .size-guide h4{
        font-size:24px;
        font-weight:500;
        margin-bottom:12px;
        color:#010101;
    }
    .size-guide h5{
        font-size:18px;
        font-weight:500;
        margin-bottom:12px;
        color:#010101;
    }
    .size-guide p{
        font-size:16px;
        font-weight:400;
        color:#010101;
    }
    
    .size-guide .img{
        width:100%;
        margin-bottom:20px;
    }
    .close-guide{
        position:absolute;
        top:20px;
        right:20px;
    }
    .close-guide:hover{
        cursor:pointer;
    }
    .accordion{
        margin-bottom:30px;
    }
    .accordion-item{
        background:#F0F0F7;
        padding: 20px;
        position:relative;
        margin-bottom:12px;
        border-radius: 8px;
    }
    .accordion-item h6{
        font-size:16px;
        font-weight:600;
        display:inline-block;
        color:#363640;
        width:90%;
    }
    .accordion-item p{
        font-size:14px;
        font-weight:400;
        color:#363640;
    }
    .item-minus,
    .item-plus{
        width:24px;
        height:24px;
        position:absolute;
        right:20px;
        top:20px;
    }
    .item-minus:hover,
    .item-plus:hover{
        cursor:pointer;
    }

    .item-minus{
        display:none;
    }
    .accordion-item p{
        display:none;
        margin-bottom: 0;
        margin-top:20px;
        line-height: 20px;

    }

    .accordion-item h6{
        margin-bottom:0;
        padding-bottom:0;
    }
    
    .sizeslide{
        border-radius: 8px;
        width: 285px;
        margin-right: 20px;        
    }
    .size-guide-wrapper .slick-track{
        left:-79px;
    }
    .size-table-2{
        margin-bottom:0 !important;
    }
    @media only screen and (max-width:480px){
        .size-guide{
            width:100%;
        }
        .size-guide-wrapper .slick-track{
            left:-30px;
        }
    }
</style>
<script>
    $(document).ready(function(){
        $(".trigger-pop-up").click(function(){
            $('.size-guide-wrapper').css('right', '0'); 
            setTimeout(function() {
                $('.size-guide-wrapper').css('background', 'rgba(0,0,0,0.6)'); 
            }, 500);
            
            
        })

        $(".close-guide").click(function(){
            
            $('.size-guide-wrapper').css('background', 'transparent');
            setTimeout(function() {
                $('.size-guide-wrapper').css('right', '-100%');      
            }, 500);
            
            
            
        })

        $(".item-plus").click(function(){
            $(this).parent(".accordion-item").find("p").slideDown()
            $(this).parent(".accordion-item").find(".item-plus").hide()
            $(this).parent(".accordion-item").find(".item-minus").show()
            
        })

        $(".item-minus").click(function(){
            $(this).parent(".accordion-item").find("p").slideUp()
            $(this).parent(".accordion-item").find(".item-plus").show()
            $(this).parent(".accordion-item").find(".item-minus").hide()
        })

        $('.sizeslider').slick({
        infinite: true,
        slidesToShow: 1,
        centerMode: true,
        arrows: false,
        centerPadding: '100px',
        autoplay: false,
        variableWidth: true
        });
    })
</script>