<div class="size-guide-wrapper">
    <div class="size-guide section-id-{{ section.id }}">

        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_147.png?v=1706547860" class="close-guide">
        <h4>Tie Back Scrub Caps</h4>
        <p>When covering short hair:</p>
        <ul>
            <li>Our Tie Back Scrub Caps fit almost all heads.</li>
            <li>They stretch up to 62 cm in circumference. That’s hat sizes XS - XXL.</li>
        </ul>
        <p>When covering medium-long hair in a bun:</p>
        <ul>
            <li>The caps have an elastic back to stretch over your bun.</li>
            <li>They stretch up to 62 cm in circumference.</li>
            <li>To check the fit, tie your hair in a bun just below the crown of your head and measure around your head with the bun included.</li>
        </ul>
        <h4>Ponytail Scrub Caps</h4>
        <p>Our Ponytail Scrub Caps fit almost all heads.</p>
        <ul>
            <li>The hat stretches up to 65cm in circumference. That’s hat sizes XS -XXXL.</li>
            <li>The ponytail pouch can stretch up to 10cm. That’s roughly the size of a cantaloupe.</li>
            
        </ul>
        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/SCRUBCAP_480x480_8e2018f1-a6e2-4f02-9ddb-7d50a3bacaa6.webp?v=1714812172" class="img size-table-1">
        <hr/>
        {% comment %}
            <h4>How to measure</h4>
            {% if product.tags contains 'Men' %}
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_186.svg?v=1707117345" class="img humanpic">
            {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_186_1.svg?v=1707117344" class="img humanpic">
            {% endif %}
        
        <h4>How to measure</h4>
        {% endcomment %}
        <h4>Frequently asked questions</h4>
        <div class="accordion">
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Will your scrub caps fit me?</h6>
                <p>Yes! Our caps fit heads up to 62cm in circumference. That’s hat sizes XS - XXL.</p>
            </div>
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>What are your scrub caps made of?</h6>
                <p>Our standard range scrub caps are 100% cotton.<br/>
                Our Perfect Match Scrub Caps are made from the same material as our scrubs.<br/>
                <br/>
                
                    Original Scrubs: 74% Poly, 20% Rayon and 6% Spandex<br/>
                    Planet Friendly Scrubs: 92% Recycled Poly and 8% Spandex<br/>
                    <br/>
                </p>

            </div>
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Will your tie back scrub caps cover my long hair?</h6>
                <p>Our Tie Back Scrub Caps have an elastic back to stretch over hair in a bun. <br/>
                To test the fit, tie a bun slightly below the crown of your head, then check that your head circumference including the bun is less than 62cm. </p>
            </div>
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>How do I put a tie back scrub cap on?</h6>
                <p>
                    <br/>
                        Tie your hair in a bun just below the crown of your head.<br/>
                        Position the scrub cap on your head. Make sure the cap’s elastic band sits underneath your bun.<br/>
                        ull the sides of the cap down firmly while you fasten the ties at the back.<br/>
               
                </p>

                
            </div>

            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>We offer returns up to 60 days. Before you request a return, it’s a good idea to check you’ve put your bun in the right place.</h6>
                <p>
                    <br/>
                        If you can’t pull the cap down fully onto your head, the bun might be too high.<br/>
                        If your hair is poking out the back of the cap, the bun might be too low.<br/>
                </p>

            </div>
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Our Ponytail Scrub Caps are designed for long or thick hair. They have two parts: </h6>
                <p>
                    <br/>
                        The hat stretches up to 65 cm in circumference. That’s hat sizes XS -XXXL.<br/>
                        The ponytail pouch stretches up to 40cm in circumference. That is roughly the size of a cantaloupe.<br/>
                    
                </p>

            </div>

            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>How do I put a ponytail scrub cap on?</h6>
                <p>
                    <br/>
                    
                        Tie your hair in a low ponytail or bun.<br/>
                        Position the scrub hat on your head.<br/>
                        If you’re wearing a bun, stretch the elastic hair pouch over your bun.<br/>
                        If you’re wearing a ponytail, coil it into a bun shape and place the pouch over top.<br/>
                        Loop the ribbon around the outside of the pouch as close as possible to the base of your skull.<br/>
                        Tie to secure.
                </p>

            </div>
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>The scrub cap I wanted is out of stock. Will it be back?</h6>
                <p>We can't give an ETA on restocks. But, we can make sure you're the first to know when one takes place.<br/>
                Go to the product page and use the EMAIL WHEN AVAILABLE button to request a back in stock email.</p>
            </div>
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>How do I wash my scrub cap?</h6>
                <p>Regular machine wash with like colours in temperature no higher than 40°C.<br/>
                Hang dry only. Most of our caps are 100% cotton, which means they can shrink in the dryer.</p>
            </div>
        </div>
    
    </div>
</div>

{% comment %}
    size-guide
    h4
    img
    close-guide
    accordion
        accordion-item
            h6
            p
        item-plus
        item-minus
{% endcomment %}
<style>
    .size-guide-wrapper{
        width:100%;
        height:100vh;
        position:fixed;
        top:0px;
        right:-100%;
        /* background: rgba(0,0,0,0.6); */
         transition: all 0.5s ease;
        z-index: 99999;
        overflow-y:scroll;
    }
    .size-guide-wrapper hr{
        border-top:1px solid #EBEBEB;
        height: 1px;
        margin-top:24px;
        margin-bottom:24px;
    }
   
    .size-guide{
        width:489px;
        background:#fff;
        color:#010101;
        z-index:9999;
        position:absolute;
        top:0;
        right:0;
        
        padding:20px;
    }
    .sizeslider{
        margin-bottom:20px;
    }
    .size-guide h4{
        font-size:24px;
        font-weight:500;
        margin-bottom:12px;
        color:#010101;
    }
    .size-guide h5{
        font-size:18px;
        font-weight:500;
        margin-bottom:12px;
        color:#010101;
    }
    .size-guide p{
        font-size:16px;
        font-weight:400;
        color:#010101;
    }
    
    .size-guide .img{
        width:100%;
        margin-bottom:20px;
    }
    .close-guide{
        position:absolute;
        top:20px;
        right:20px;
    }
    .close-guide:hover{
        cursor:pointer;
    }
    .accordion{
        margin-bottom:30px;
    }
    .accordion-item{
        background:#F0F0F7;
        padding: 20px;
        position:relative;
        margin-bottom:12px;
        border-radius: 8px;
    }
    .accordion-item h6{
        font-size:16px;
        font-weight:600;
        display:inline-block;
        color:#363640;
        width:90%;
    }
    .accordion-item p{
        font-size:14px;
        font-weight:400;
        color:#363640;
    }
    .item-minus,
    .item-plus{
        width:24px;
        height:24px;
        position:absolute;
        right:20px;
        top:20px;
    }
    .item-minus:hover,
    .item-plus:hover{
        cursor:pointer;
    }

    .item-minus{
        display:none;
    }
    .accordion-item p{
        display:none;
        margin-bottom: 0;
        margin-top:20px;
        line-height: 20px;

    }

    .accordion-item h6{
        margin-bottom:0;
        padding-bottom:0;
    }
    
    .sizeslide{
        border-radius: 8px;
        width: 285px;
        margin-right: 20px;        
    }
    .size-guide-wrapper .slick-track{
        left:-79px;
    }
    .size-table-2{
        margin-bottom:0 !important;
    }
    @media only screen and (max-width:480px){
        .size-guide{
            width:100%;
        }
        .size-guide-wrapper .slick-track{
            left:-30px;
        }
    }
</style>
<script>
    $(document).ready(function(){
        $(".trigger-pop-up").click(function(){
            $('.size-guide-wrapper').css('right', '0'); 
            setTimeout(function() {
                $('.size-guide-wrapper').css('background', 'rgba(0,0,0,0.6)'); 
            }, 500);
            
            
        })

        $(".close-guide").click(function(){
            
            $('.size-guide-wrapper').css('background', 'transparent');
            setTimeout(function() {
                $('.size-guide-wrapper').css('right', '-100%');      
            }, 500);
            
            
            
        })

        $(".item-plus").click(function(){
            $(this).parent(".accordion-item").find("p").slideDown()
            $(this).parent(".accordion-item").find(".item-plus").hide()
            $(this).parent(".accordion-item").find(".item-minus").show()
            
        })

        $(".item-minus").click(function(){
            $(this).parent(".accordion-item").find("p").slideUp()
            $(this).parent(".accordion-item").find(".item-plus").show()
            $(this).parent(".accordion-item").find(".item-minus").hide()
        })

        $('.sizeslider').slick({
        infinite: true,
        slidesToShow: 1,
        centerMode: true,
        arrows: false,
        centerPadding: '100px',
        autoplay: false,
        variableWidth: true
        });
    })
</script>