<div class="size-guide-wrapper">
    <div class="size-guide section-id-{{ section.id }}">
        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_147.png?v=1706547860" class="close-guide">
        <h4>Size guide</h4>
        <p>You work in healthcare - which means you're always on your feet, putting in long hours to care for others. But what size graduated compression socks do you need to give your legs the support they deserve?</p>
        <hr/>
        <h4>Sizes & Measurements</h4>
        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/frame_175_2e36eac2-be5d-4097-9892-9dd7d8403667.jpg?v=1712134525" class="img size-table-1">
        <hr/>
        {% comment %}
            <h4>How to measure</h4>
            {% if product.tags contains 'Men' %}
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_186.svg?v=1707117345" class="img humanpic">
            {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_186_1.svg?v=1707117344" class="img humanpic">
            {% endif %}
        
        <h4>How to measure</h4>
        {% endcomment %}
        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/compression_socks_flatlays.jpg?v=1712134525" class="img humanpic">
        <hr/>
        <div class="accordion">
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>Shoe Size</h6>
                    <p>It's the number that tells you if the shoe fits without turning you into Cinderella’s stepsister. It’s like a secret code for your feet, but with less mystery and more "Will my toes be squished?"</p>
                </div>
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Calf Circumference</h6>
                <p>Calf circumference is the measurement around the widest part of your calf. It's like a hug for your leg, but with a measuring tape instead of arms.</p>
            </div>
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Socks Length</h6>
                <p>Socks length is how tall your socks stand, from toe to top. It’s like measuring the height of a mini-skyscraper, if the skyscraper was made for your feet.</p>
            </div>
        </div>
        <hr/>
        {% comment %}
        <h4>Meet our models</h4>
        {% if product.tags contains 'Men' %}
            <div class="sizeslider">
                
                
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/1_c8912077-7652-4872-b5a3-0b06893f5c43.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/2_7b54e28d-2dc6-445e-877c-5ae18c7846ae.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Dr._Woof_Sizing_Guide_Mens_600x600_b194d15e-c960-4e0b-b8ea-80c3fb59b186.webp?v=1707071359" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Dr._Woof_Sizing_Guide_Mens_Forest_AU_600x600_61483c9d-df63-42a4-b0f9-87f50f928ca2.webp?v=1707071359" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Dr._Woof_Sizing_Guide_Mens_Arnie_AU_600x600_4e2efea7-6223-49d9-86f7-c196455b822e.webp?v=1707071359" class="sizeslide">
                
            </div>
        {% else %}
            <div class="sizeslider">
                
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/4_4ba3eef1-8055-43ad-9fee-fc9f01670838.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/3_9701f666-fcc1-413d-8d3e-a39d319a4d85.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/6_9b60b403-cadd-4d55-8bbf-50ddbe8fba68.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/8_1b9990b2-3077-4d74-99d3-2828b2371ae0.png?v=1709893851" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/7_97dbb3a7-b3f7-4e51-b7df-9a551c72a488.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/5_7342bd39-d748-4af4-99c8-f6b71d92a17b.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Dr._Woof_Sizing_Guide_Womens_Afua_AU_600x600_fd3d1d2f-8d58-4213-ae53-0f065b72b6d3.webp?v=1706736468" class="sizeslide">

            </div>
        {% endif %}
                <hr/>
    {% endcomment %}


        <h4>Frequently asked questions</h4>
        <div class="accordion">
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>What’s the compression level of Dr Woof Graduated Compression Socks?</h6>
                <p>Kick back and relax; our Graduated Compression Socks offer a snug, not too tight compression level of 15-20 mmHg. Perfect for those days when your feet need a little extra love and support.</p>
            </div>
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>What sets Dr Woof Graduated Compression Socks apart?</h6>
                <p>Our socks come with a whole suite of features to keep your feet happy! They offer 360° seamless compression for comfort, a medium compression level to ease your day, super stretchy fabric that hugs your feet just right, moisture-wicking technology to keep you dry, and extra cushioning in the heel and toe for that cloud-nine feeling.</p>
            </div>
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>What are Dr Woof Graduated Compression Socks made of?</h6>
                <p>Crafted with care, our socks are made from 97% Nylon and 3% Elastane, blending durability and flexibility for the ultimate fit and comfort.</p>
            </div>
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>How should I care for my Dr Woof Graduated Compression Socks?</h6>
                <p>Keep your socks in prime condition by washing them with like colors at a cool temperature under 30°C, and letting them air dry. Steer clear of bleach, ironing, and tumble drying to keep them perfect.</p>
            </div>

            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>What sizes do Dr Woof Graduated Compression Socks come in?</h6>
                <p>Currently, we offer sizes Small and Medium. Check out our sizing guide to find your perfect match and step into comfort.</p>
            </div>

            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Will the fabric of Dr Woof Graduated Compression Socks lose its stretch over time?</h6>
                <p>No worries here! Our socks are designed with super stretchy fabric that maintains its elasticity, ensuring you get a consistent fit and comfort, wear after wear.</p>
            </div>

            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Can Dr Woof Graduated Compression Socks help keep my feet dry?</h6>
                <p>Yes, indeed! Our socks are equipped with moisture-wicking technology that pulls sweat away from your skin, keeping your feet dry and comfortable all day long.</p>
            </div>
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Do Dr Woof Graduated Compression Socks offer extra protection for my feet?</h6>
                <p>Absolutely! With extra thick cushioning in the heel and toe areas, our socks provide enhanced comfort and protection against blisters, so you can move through your day with ease.</p>
            </div>

        </div>
    
    </div>
</div>

{% comment %}
    size-guide
    h4
    img
    close-guide
    accordion
        accordion-item
            h6
            p
        item-plus
        item-minus
{% endcomment %}
<style>
    .size-guide-wrapper{
        width:100%;
        height:100vh;
        position:fixed;
        top:0px;
        right:-100%;
        /* background: rgba(0,0,0,0.6); */
         transition: all 0.5s ease;
        z-index: 99999;
        overflow-y:scroll;
    }
    .size-guide-wrapper hr{
        border-top:1px solid #EBEBEB;
        height: 1px;
        margin-top:24px;
        margin-bottom:24px;
    }
   
    .size-guide{
        width:489px;
        background:#fff;
        color:#010101;
        z-index:9999;
        position:absolute;
        top:0;
        right:0;
        
        padding:20px;
    }
    .sizeslider{
        margin-bottom:20px;
    }
    .size-guide h4{
        font-size:24px;
        font-weight:500;
        margin-bottom:12px;
        color:#010101;
    }
    .size-guide h5{
        font-size:18px;
        font-weight:500;
        margin-bottom:12px;
        color:#010101;
    }
    .size-guide p{
        font-size:16px;
        font-weight:400;
        color:#010101;
    }
    
    .size-guide .img{
        width:100%;
        margin-bottom:20px;
    }
    .close-guide{
        position:absolute;
        top:20px;
        right:20px;
    }
    .close-guide:hover{
        cursor:pointer;
    }
    .accordion{
        margin-bottom:30px;
    }
    .accordion-item{
        background:#F0F0F7;
        padding: 20px;
        position:relative;
        margin-bottom:12px;
        border-radius: 8px;
    }
    .accordion-item h6{
        font-size:16px;
        font-weight:600;
        display:inline-block;
        color:#363640;
        width:90%;
    }
    .accordion-item p{
        font-size:14px;
        font-weight:400;
        color:#363640;
    }
    .item-minus,
    .item-plus{
        width:24px;
        height:24px;
        position:absolute;
        right:20px;
        top:20px;
    }
    .item-minus:hover,
    .item-plus:hover{
        cursor:pointer;
    }

    .item-minus{
        display:none;
    }
    .accordion-item p{
        display:none;
        margin-bottom: 0;
        margin-top:20px;
        line-height: 20px;

    }

    .accordion-item h6{
        margin-bottom:0;
        padding-bottom:0;
    }
    
    .sizeslide{
        border-radius: 8px;
        width: 285px;
        margin-right: 20px;        
    }
    .size-guide-wrapper .slick-track{
        left:-79px;
    }
    .size-table-2{
        margin-bottom:0 !important;
    }
    @media only screen and (max-width:480px){
        .size-guide{
            width:100%;
        }
        .size-guide-wrapper .slick-track{
            left:-30px;
        }
    }
</style>
<script>
    $(document).ready(function(){
        $(".trigger-pop-up").click(function(){
            $('.size-guide-wrapper').css('right', '0'); 
            setTimeout(function() {
                $('.size-guide-wrapper').css('background', 'rgba(0,0,0,0.6)'); 
            }, 500);
            
            
        })

        $(".close-guide").click(function(){
            
            $('.size-guide-wrapper').css('background', 'transparent');
            setTimeout(function() {
                $('.size-guide-wrapper').css('right', '-100%');      
            }, 500);
            
            
            
        })

        $(".item-plus").click(function(){
            $(this).parent(".accordion-item").find("p").slideDown()
            $(this).parent(".accordion-item").find(".item-plus").hide()
            $(this).parent(".accordion-item").find(".item-minus").show()
            
        })

        $(".item-minus").click(function(){
            $(this).parent(".accordion-item").find("p").slideUp()
            $(this).parent(".accordion-item").find(".item-plus").show()
            $(this).parent(".accordion-item").find(".item-minus").hide()
        })

        $('.sizeslider').slick({
        infinite: true,
        slidesToShow: 1,
        centerMode: true,
        arrows: false,
        centerPadding: '100px',
        autoplay: false,
        variableWidth: true
        });
    })
</script>