<div class="size-guide-wrapper">
    <div class="size-guide section-id-{{ section.id }}">
        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_147.png?v=1706547860" class="close-guide">

        {% if texter %}
            <p style="margin-top:40px;"><i>"Love these pants! Unfortunately I ordered a size too small originally however Dr Woof was super efficient and helpful in exchanging for a bigger size! Will definitely be returning as a customer"<br/></i></p>
                <p style="text-align:right"><i>- Katherine D. </i></p>
        {% else %}
            <h4>Size guide</h4>
            <p>You work in healthcare - which means your heart size is 37XL and your tolerance for BS is 37XS. But, what size are your scrubs?</p>
        {% endif %}
        <hr/>
        <h4>Sizes & Measurements</h4>
        {% if product.tags contains 'Men' %}
            <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/mentab.svg?v=1707422216" class="img size-table-1">
        {% else %}
            <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_174_3.svg?v=1710729463" class="img size-table-1">
        {% endif %}

        
        <h5>Inseam</h5>
        {% if product.tags contains 'Men' %}
            <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_175_1.png?v=1706547309" class="img size-table-2">
        {% else %}
            <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_175_1.svg?v=1713637925" class="img size-table-2">
        {% endif %}
        
        <hr/>
        <h4>How to measure</h4>
        
        {% if product.tags contains 'Men' %}
            <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_186.svg?v=1707117345" class="img humanpic">
        {% else %}
            <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_186_1.svg?v=1707117344" class="img humanpic">
        {% endif %}
        <div class="accordion">
            {% if product.tags contains 'Men' %}
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>Bust</h6>
                    <p>The fullest part of your upper body.</p>
                </div>
                {% else %}
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>Bust</h6>
                    <p>The fullest part of your upper body. You'll have to put bra on to measure it (SOZ).</p>
                </div>
            {% endif %}

            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Waist</h6>
                <p>The narrowest bit of your torso. About 3 fingers above the belly button.</p>
            </div>
            {% if product.tags contains 'Men' %}
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>Hips</h6>
                    <p>The widest part of your lower body.</p>
                </div>              
            {% else %}
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Hips</h6>
                <p>The widest part of your lower body. (And the most honest according to Shakira.)</p>
            </div>
            {% endif %}


            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Inseam</h6>
                <p>The distance from your crotch to the knobbly bit of your ankle.</p>
            </div>
        </div>
        <hr/>
        <h4>Meet our models</h4>
        {% if product.tags contains 'Men' %}
            <div class="sizeslider">
                
                
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/1_c8912077-7652-4872-b5a3-0b06893f5c43.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/2_7b54e28d-2dc6-445e-877c-5ae18c7846ae.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Dr._Woof_Sizing_Guide_Mens_600x600_b194d15e-c960-4e0b-b8ea-80c3fb59b186.webp?v=1707071359" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Dr._Woof_Sizing_Guide_Mens_Forest_AU_600x600_61483c9d-df63-42a4-b0f9-87f50f928ca2.webp?v=1707071359" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Dr._Woof_Sizing_Guide_Mens_Arnie_AU_600x600_4e2efea7-6223-49d9-86f7-c196455b822e.webp?v=1707071359" class="sizeslide">
                
            </div>
        {% else %}
            <div class="sizeslider">
                
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/4_4ba3eef1-8055-43ad-9fee-fc9f01670838.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/3_9701f666-fcc1-413d-8d3e-a39d319a4d85.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/6_9b60b403-cadd-4d55-8bbf-50ddbe8fba68.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/8_1b9990b2-3077-4d74-99d3-2828b2371ae0.png?v=1709893851" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/7_97dbb3a7-b3f7-4e51-b7df-9a551c72a488.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/5_7342bd39-d748-4af4-99c8-f6b71d92a17b.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Dr._Woof_Sizing_Guide_Womens_Afua_AU_600x600_fd3d1d2f-8d58-4213-ae53-0f065b72b6d3.webp?v=1706736468" class="sizeslide">

            </div>
        {% endif %}


        <hr/>
        <h4>Frequently asked questions</h4>
        <div class="accordion">
            {% if product.type == "Printed Pattern Scrub Tops" %}
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>I'm worried about buying online. Are Dr. Woof's products as good as they look?</h6>
                    <p>Yes!<br><br>… but we understand you being cautious.<br><br>Nowadays, almost everyone's had at least one bad online shopping experience—the sort where a product looks amazing online but ends up being low-quality junk.<br><br>It sucks, and you deserve better.<br><br>That's why Dr. Woof says no to dropshipping, white-labelling and corner-cutting of any kind. When a product has a Dr. Woof label, you know it's:<br>✔️ Designed by our team<br>✔️ Made to last with high-quality fabrics and craftsmanship<br>✔️Tested through an independent quality assurance process<br>✔️ Shipped from our warehouse in Melbourne, Australia or California, USA.<br><br>If you've been burned with online shopping before, it might be comforting to know that:<br>* Our products have thousands of 5-star reviews, with more popping up every day.<br>* Many reputable uniform companies stock Dr. Woof items, including Smile Wear and Sauers Uniforms Australia.<br>* Over 200 clinics choose Dr. Woof for their uniforms.</p>
                </div>
                
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>What's your return and exchange policy for scrubs?</h6>
                    <p>Our mission is to make the medical world smile.<br><br>If you don't fall head over heels in love with your scrubs, contact us for a refund, exchange or replacement.<br><br>There are a few conditions:<br>* You must contact us within 60 days of purchase.<br>* Items must be clean, unworn and in their original packaging.<br>* We don't accept refunds or exchanges on embroidered items or clearance items.<br>* You'll need to cover the cost of shipping.</p>
                </div>
                
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>How much will shipping cost?</h6>
                    <p>Enjoy free shipping for orders over $150 — no matter where in Australia you live.<br><br>For orders under $150, shipping is calculated at checkout.</p>
                </div>
                
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>I want a perfect fit. Are your scrubs true to size?</h6>
                    <p>Our scrubs are true to size.<br><br>Less than 0.5% of our customers ask to exchange their scrubs for another size. Of those customers, 3 out of 4 ask for a smaller size.<br><br>If you're worried about getting the wrong size, the best thing to do is grab your tape measure and match your measurements to our sizing chart. We recommend sizing up if you're in between sizes (or prefer a looser fit).</p>
                </div>
                
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>What makes Dr. Woof's patterned scrubs special?</h6>
                    <p>Most brands make you choose between fun prints and high-quality products.<br><br>Not us.<br><br>If you like our prints, wait until you hear about our:<br>* Sweat-wicking, 4-way-stretch fabric that feels amazing against your skin.<br>* Flattering modern cuts — no more boxy scrubs.<br>* Outstanding quality — for scrubs you can wear and wear.<br>* Mother-Earth-approved processes, including 92% recycled fabric, eco-friendly dye and an upcycling system for fabric offcuts.</p>
                </div>
                
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>Are Dr. Woof's patterned scrubs easy to care for?</h6>
                    <p>Yes. Our fabric is quick-drying and wrinkle-resistant, so you can wash it in a hurry and skip the ironing.<br><br>To keep your scrubs in tip-top shape:<br>1. Turn them inside out<br>2. Cold machine wash with like colours<br>3. Tumble dry low</p>
                </div>
            {% else %}
                {% if product.title contains "Planet Friendly" %}
                    <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>I'm worried about buying online. Are Dr. Woof's products as good as they look?</h6>
                        <p>Yes!<br><br>… but we understand you being cautious.<br><br>Nowadays, almost everyone's had at least one bad online shopping experience—the sort where a product looks amazing online but ends up being low-quality junk.<br><br>It sucks, and you deserve better.<br><br>That's why Dr. Woof says no to dropshipping, white-labelling and corner-cutting of any kind. When a product has a Dr. Woof label, you know it's:<br>✔️ Designed by our team<br>✔️ Made to last with high-quality fabrics and craftsmanship<br>✔️Tested through an independent quality assurance process<br>✔️ Shipped from our warehouse in Melbourne, Australia or California, USA.<br><br>If you've been burned with online shopping before, it might be comforting to know that:<br>* Our products have thousands of 5-star reviews, with more popping up every day.<br>* Many reputable uniform companies stock Dr. Woof items, including Smile Wear and Sauers Uniforms Australia.<br>* Over 200 clinics choose Dr. Woof for their uniforms.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>What makes these scrubs "planet friendly"?</h6>
                        <p>For Dr. Woof Scrubs, "Planet Friendly" means:<br>* 92% recycled fabric<br>* Global Recycle Standard (GRS) certified yarn<br>* Eco-friendly dye<br>* Water-conscious dying process<br>* Offcuts from our sewing room floor are upcycled into scrub caps and scrunchies.<br><br>We also use carbon-neutral shipping where possible.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>What's your return and exchange policy for scrubs?</h6>
                        <p>Our mission is to make the medical world smile.<br><br>If you don't fall head over heels in love with your scrubs, contact us for a refund, exchange or replacement.<br><br>There are a few conditions:<br>* You must contact us within 60 days of purchase.<br>* Items must be clean, unworn and in their original packaging.<br>* We don't accept refunds or exchanges on embroidered items or clearance items.<br>* You'll need to cover the cost of shipping.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>How much will shipping cost?</h6>
                        <p>Enjoy free shipping for orders over $150 — no matter where in Australia you live.<br><br>For orders under $150, shipping is calculated at checkout.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>I want a perfect fit. Are your scrubs true to size?</h6>
                        <p>Our scrubs are true to size.<br><br>Less than 0.5% of our customers ask to exchange their scrubs for another size. Of those customers, 3 out of 4 ask for a smaller size.<br><br>If you're worried about getting the wrong size, the best thing to do is grab your tape measure and match your measurements to our sizing chart. We recommend sizing up if you're in between sizes (or prefer a looser fit).</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>Are planet friendly scrubs easy to care for?</h6>
                        <p>Yes. Our planet friendly fabric is quick-drying and wrinkle-resistant, so you can wash it in a hurry and skip the ironing.<br><br>To keep your scrubs in tip-top shape:<br>1. Turn them inside out<br>2. Cold machine wash with like colours<br>3. Tumble dry low</p>
                     </div>
                {% elsif product.title contains "Scrunchies" %}   
                    <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>I'm worried about buying online. Are Dr. Woof's products as good as they look?</h6>
                        <p>Yes!<br><br>… but we understand you being cautious.<br><br>Nowadays, almost everyone's had at least one bad online shopping experience—the sort where a product looks amazing online but ends up being low-quality junk.<br><br>It sucks, and you deserve better.<br><br>That's why Dr. Woof says no to dropshipping, white-labelling and corner-cutting of any kind. When a product has a Dr. Woof label, you know it's:<br>✔️ Designed by our team<br>✔️ Made to last with high-quality fabrics and craftsmanship<br>✔️Tested through an independent quality assurance process<br>✔️ Shipped from our warehouse in Melbourne, Australia or California, USA.<br><br>If you've been burned with online shopping before, it might be comforting to know that:<br>* Our products have thousands of 5-star reviews, with more popping up every day.<br>* Many reputable uniform companies stock Dr. Woof items, including Smile Wear and Sauers Uniforms Australia.<br>* Over 200 clinics choose Dr. Woof for their uniforms.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>What's your return and exchange policy for scrunchies?</h6>
                        <p>For hygiene reasons, we can't accept returns or exchanges on scrunchies. But your happiness is still important to us.<br><br>If you don't fall head over heels in love with your scrunchie, let our team know. We won't be able to offer a full refund, but we'll do what we can to find a solution that makes you happy.<br><br>To help this process, we recommend you:<br>* Look closely at the product photos before ordering your scrunchie.<br>* If you buy multiple scrunchies, try on the first one before opening the others.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>How much will shipping cost?</h6>
                        <p>Enjoy free shipping for orders over $150 — no matter where in Australia you live.<br><br>For orders under $150, shipping is calculated at checkout.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>I have thick hair. Will your scrunchies be stretchy enough?</h6>
                        <p>Our scrunchies stretch comfortably up to 45cm around. Depending on your hair thickness, you can use it with one, two or three loops.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>How long will my scrunchie keep its scrunch?</h6>
                        <p>The elastic in a scrunchie will gradually lose its stretchiness — especially if it is stretched out too far for long periods. For longevity, always tie your scrunchie with enough room to insert a thumb easily under the elastic band.<br><br>Hot tip: If you need to, it's super easy to replace your scrunchie's elastic. There are plenty of tutorials on YouTube.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>Can I wash my scrunchie?</h6>
                        <p>Yes.<br><br><strong>For cotton scrunchies:</strong><br>Toss your scrunchie in the washing machine with similar colours and wash up to 40°C.<br>We recommend air drying to avoid shrinkage.<br><br><strong>For other scrunchies:</strong><br>Toss your scrunchie in the washing machine with similar colors, cold wash and then tumble dry low.</p>
                     </div>                  
                {% elsif product.title contains "Outerwear" %}
                    <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>I'm worried about buying online. Are Dr. Woof's products as good as they look?</h6>
                        <p>Yes!<br><br>… but we understand you being cautious.<br><br>Nowadays, almost everyone's had at least one bad online shopping experience—the sort where a product looks amazing online but ends up being low-quality junk.<br><br>It sucks, and you deserve better.<br><br>That's why Dr. Woof says no to dropshipping, white-labelling and corner-cutting of any kind. When a product has a Dr. Woof label, you know it's:<br>✔️ Designed by our team<br>✔️ Made to last with high-quality fabrics and craftsmanship<br>✔️Tested through an independent quality assurance process<br>✔️ Shipped from our warehouse in Melbourne, Australia or California, USA.<br><br>If you've been burned with online shopping before, it might be comforting to know that:<br>* Our products have thousands of 5-star reviews, with more popping up every day.<br>* Many reputable uniform companies stock Dr. Woof items, including Smile Wear and Sauers Uniforms Australia.<br>* Over 200 clinics choose Dr. Woof for their uniforms.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>What's your return and exchange policy for outerwear?</h6>
                        <p>Our mission is to make the medical world smile.<br><br>If you don't fall head over heels in love with your vest or jacket, contact us for a refund, exchange or replacement.<br><br>There are a few conditions:<br>* You must contact us within 60 days of purchase.<br>* Items must be clean, unworn and in their original packaging.<br>* We don't accept refunds or exchanges on clearance items.<br>* You'll need to cover the cost of shipping.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>How much will shipping cost?</h6>
                        <p>Enjoy free shipping for orders over $150 — no matter where in Australia you live.<br><br>For orders under $150, shipping is calculated at checkout.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>I want a perfect fit. Is your outerwear true to size?</h6>
                        <p>Our clothing is true to size.<br><br>Less than 0.5% of our customers ask to exchange their items for another size. Of those customers, 3 out of 4 ask for a smaller size.<br><br>If you're worried about getting the wrong size, the best thing to do is grab your tape measure and match your measurements to our sizing chart. We recommend sizing up if you're in between sizes (or prefer a looser fit).</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>Are your puffer vests easy to care for?</h6>
                        <p>Down vests need to be hand-washed.<br><br>This is why we've chosen fabric that wipes down easily & can be spot-cleaned using warm water or any neutral detergent.<br><br>When it's time for a full wash:<br>1. Hand wash in water up to 40°C with a neutral detergent.<br>2. Rinse in clean water.<br>3. Compress the vest to get the water out. Wringing or twisting your vest will damage the down.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>Are your fleece jackets easy to care for?</h6>
                        <p>Yes. Our fleece is machine washable and quick to dry. To keep your jacket in tip-top shape:<br>1. Throw them in the machine with like colors<br>2. Cold machine wash with no bleach<br>3. Tumble dry inside out on low.<br><br>Hot tip: Fleece doesn't like to be ironed (but it also doesn't wrinkle).</p>
                     </div>
                {% elsif product.title contains "Underscrubs" %}
                    <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>I'm worried about buying online. Are Dr. Woof's products as good as they look?</h6>
                        <p>Yes!<br><br>… but we understand you being cautious.<br><br>Nowadays, almost everyone's had at least one bad online shopping experience—the sort where a product looks amazing online but ends up being low-quality junk.<br><br>It sucks, and you deserve better.<br><br>That's why Dr. Woof says no to dropshipping, white-labelling and corner-cutting of any kind. When a product has a Dr. Woof label, you know it's:<br>✔️ Designed by our team<br>✔️ Made to last with high-quality fabrics and craftsmanship<br>✔️Tested through an independent quality assurance process<br>✔️ Shipped from our warehouse in Melbourne, Australia or California, USA.<br><br>If you've been burned with online shopping before, it might be comforting to know that:<br>* Our products have thousands of 5-star reviews, with more popping up every day.<br>* Many reputable uniform companies stock Dr. Woof items, including Smile Wear and Sauers Uniforms Australia.<br>* Over 200 clinics choose Dr. Woof for their uniforms.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>What's your return and exchange policy for underscrubs?</h6>
                        <p>Our mission is to make the medical world smile.<br><br>If you don't fall head over heels in love with your underscrub, contact us for a refund, exchange or replacement.<br><br>There are a few conditions:<br>* You must contact us within 60 days of purchase.<br>* Items must be clean, unworn and in their original packaging.<br>* We don't accept refunds or exchanges on clearance items.<br>* You'll need to cover the cost of shipping.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>How much will shipping cost?</h6>
                        <p>Enjoy free shipping for orders over $150 — no matter where in Australia you live.<br><br>For orders under $150, shipping is calculated at checkout.</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>I want to get the perfect fit. Are your underscrubs true to size?</h6>
                        <p>Our clothing is true to size.<br><br>Less than 0.5% of our customers ask to exchange their items for another size. Of those customers, 3 out of 4 ask for a smaller size.<br><br>If you're worried about getting the wrong size, the best thing to do is grab your tape measure and match your measurements to our sizing chart. We recommend sizing up if you're in between sizes (or prefer a looser fit).</p>
                     </div>
                     
                     <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>Are Dr. Woof's underscrubs easy to care for?</h6>
                        <p>Yes. Our fabric is quick-drying and wrinkle-resistant, so you can wash it in a hurry and skip the ironing.<br><br>To keep your underscrubs in tip-top shape:<br>1. Throw them in the machine with like colours<br>2. Cold machine wash<br>3. Tumble dry low</p>
                     </div>
                {% elsif product.title contains "Fleece" %}
                    <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>I'm always cautious of buying online. How do I know Dr. Woof products are worth the hype?</h6>
                        <p>Does this sound familiar: You see a cool new brand online, you order something that looks amazing, and a few days later something not-so-amazing turns up.<br><br>It sucks, right?<br><br>At Dr Woof, our customers deserve the best.<br><br>That's why we don't dropship, we don't cut corners, and we don't white label (white labeling is when brands buy wholesale generic items and just slap a logo on them.)<br><br>Every product we stock is:<br>✔️ Designed by our team<br>✔️ Made to last with high quality fabrics and craftsmanship<br>✔️Tested through an independent quality assurance process<br>✔️ Shipped from our warehouse in Melbourne, Australia<br><br>As Aussies, we don't like blowing our own horn. But we are proud to say that:<br>• Our products have over 4, 300+ 5-star reviews, with more popping up every day<br>• You'll find our scrubs in-stock at reputable uniform companies including Smile Wear and Sauers Uniform Australia<br>• Over 200+ clinics choose Dr Woof for their uniforms, including The Pet Specialist and Dental Protection</p>
                    </div>
                    
                    <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>What's your return and exchange policy?</h6>
                        <p>Our mission is to make the medical world smile.<br><br>If you don't fall head over heels in love with your items, contact us for a refund, exchange or replacement.<br><br>There are a few conditions:<br><br>• You must contact us within 60 days of purchase<br>• Items must be clean, unworn and in their original packaging<br>• We don't accept refunds or exchanges on embroidered items or clearance items<br>• You'll need to cover the cost of shipping</p>
                    </div>
                    
                    <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>How much will shipping cost?</h6>
                        <p>Enjoy free shipping for orders over $150 — no matter where in Australia you live.<br>For orders under $150, shipping is calculated at checkout.</p>
                    </div>
                    
                    <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>I want to get the perfect fit. Are your fleece jackets true to size?</h6>
                        <p>All our items are true to size. If we go by exchanges:<br>• 92 - 95% of our customers are happy with the size they pick.<br>• 0.10% of customers ask for a larger size<br>• 0.31% of customers ask for a smaller size<br><br>If you're worried about getting the wrong size, the best thing to do is grab your tape measure and match your measurements to our sizing chart.<br><br>If you're in between sizes (or prefer a looser fit) we recommend sizing up.</p>
                    </div>
                    
                    <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>Are your fleece jackets easy to care for?</h6>
                        <p>Yes.<br>Our fleece is machine washable and quick to dry. To keep your jacket in tip-top shape:<br>1. Throw them in the machine with like colors<br>2. Cold machine wash with no bleach<br>3. Tumble dry inside out on low.<br><br>Hit tip: Fleece doesn't like to be ironed (but it also doesn't wrinkle).</p>
                    </div>
                {% elsif product.title contains "Down vests" %}
                    <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>I'm always cautious of buying online. How do I know Dr. Woof products are worth the hype?</h6>
                        <p>Does this sound familiar: You see a cool new brand online, you order something that looks amazing, and a few days later something not-so-amazing turns up.<br><br>It sucks, right?<br><br>At Dr Woof, our customers deserve the best.<br><br>That's why we don't dropship, we don't cut corners, and we don't white label (white labeling is when brands buy wholesale generic items and just slap a logo on them.)<br><br>Every product we stock is:<br>✔️ Designed by our team<br>✔️ Made to last with high quality fabrics and craftsmanship<br>✔️Tested through an independent quality assurance process<br>✔️ Shipped from our warehouse in Melbourne, Australia<br><br>As Aussies, we don't like blowing our own horn. But we are proud to say that:<br>• Our products have over 4, 300+ 5-star reviews, with more popping up every day<br>• You'll find our scrubs in-stock at reputable uniform companies including Smile Wear and Sauers Uniform Australia<br>• Over 200+ clinics choose Dr Woof for their uniforms, including The Pet Specialist and Dental Protection</p>
                    </div>

                    <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>What's your return and exchange policy?</h6>
                        <p>Our mission is to make the medical world smile.<br><br>If you don't fall head over heels in love with your items, contact us for a refund, exchange or replacement.<br><br>There are a few conditions:<br><br>• You must contact us within 60 days of purchase<br>• Items must be clean, unworn and in their original packaging<br>• We don't accept refunds or exchanges on embroidered items or clearance items<br>• You'll need to cover the cost of shipping</p>
                    </div>

                    <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>How much will shipping cost?</h6>
                        <p>Enjoy free shipping for orders over $150 — no matter where in Australia you live.<br>For orders under $150, shipping is calculated at checkout.</p>
                    </div>

                    <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>I want to get the perfect fit. Are your featherlight vests true to size?</h6>
                        <p>All our items are true to size. If we go by exchanges:<br>• 92 - 95% of our customers are happy with the size they pick.<br>• 0.10% of customers ask for a larger size<br>• 0.31% of customers ask for a smaller size<br><br>If you're worried about getting the wrong size, the best thing to do is grab your tape measure and match your measurements to our sizing chart.<br><br>If you're in between sizes (or prefer a looser fit) we recommend sizing up.</p>
                    </div>

                    <div class="accordion-item">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                        <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                        <h6>Are your featherlight vests easy to care for?</h6>
                        <p>Down vests do need to be hand washed.<br><br><strong>Which is why we've chosen fabric that wipes down easily & can be spot cleaned using warm water or any neutral detergent.</strong><br><br>When it's time for a full wash:<br>1. Hand Wash in water up to 40° with a neutral detergent.<br>2. Rinse in clean water.<br>3. Compress the jacket to get the water out - wringing or twisting will damage the down</p>
                    </div>
                {% else %}
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>I'm worried about buying online. Are Dr. Woof's products as good as they look?</h6>
                    <p>Yes!<br><br>… but we understand you being cautious.<br><br>Nowadays, almost everyone's had at least one bad online shopping experience—the sort where a product looks amazing online but ends up being low-quality junk.<br><br>It sucks, and you deserve better.<br><br>That's why Dr. Woof says no to dropshipping, white-labelling and corner-cutting of any kind. When a product has a Dr. Woof label, you know it's:<br>✔️ Designed by our team<br>✔️ Made to last with high-quality fabrics and craftsmanship<br>✔️Tested through an independent quality assurance process<br>✔️ Shipped from our warehouse in Melbourne, Australia or California, USA<br><br>If you've been burned with online shopping before, it might be comforting to know that:<br>* Our products have thousands of 5-star reviews, with more popping up every day.<br>* Many reputable uniform companies stock Dr. Woof items, including Smile Wear and Sauers Uniforms Australia.<br>* Over 200 clinics choose Dr. Woof for their uniforms.</p>
                </div>
                
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>What's your return and exchange policy for scrubs?</h6>
                    <p>Our mission is to make the medical world smile.<br><br>If you don't fall head over heels in love with your scrubs, contact us for a refund, exchange or replacement.<br><br>There are a few conditions:<br>* You must contact us within 60 days of purchase.<br>* Items must be clean, unworn and in their original packaging.<br>* We don't accept refunds or exchanges on embroidered items or clearance items.<br>* You'll need to cover the cost of shipping.</p>
                </div>
                
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>How much will shipping cost?</h6>
                    <p>Enjoy free shipping for orders over $150 — no matter where in Australia you live.<br><br>For orders under $150, shipping is calculated at checkout.</p>
                </div>
                
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>I want a perfect fit. Are your scrubs true to size?</h6>
                    <p>Our scrubs are true to size.<br><br>Less than 0.5% of our customers ask to exchange their scrubs for another size. Of those customers, 3 out of 4 ask for a smaller size.<br><br>If you're worried about getting the wrong size, the best thing to do is grab your tape measure and match your measurements to our sizing chart. We recommend sizing up if you're in between sizes (or prefer a looser fit).</p>
                </div>
                
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>The colour or size I want is sold out. When will it be back?</h6>
                    <p>Our core colours are restocked every few months. You can join our mailing list for restock alerts.<br><br>Most limited edition colours won't restock. There are some exceptions. Blurple has restocked 3 times by popular demand. If you'd like to request a restock or get early access to new colours, join the Dr. Woof Insiders club on Facebook.</p>
                </div>
                
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>Are Dr. Woof scrubs easy to care for?</h6>
                    <p>Yes. Our fabric is quick-drying and wrinkle-resistant, so you can wash it in a hurry and skip the ironing.<br><br>To keep your scrubs in tip-top shape:<br>1. Turn them inside out<br>2. Cold machine wash with like colours<br>3. Tumble dry low</p>
                </div>
                {% endif %}
            {% endif %}
            

        </div>
    
    </div>
</div>

{% comment %}
    size-guide
    h4
    img
    close-guide
    accordion
        accordion-item
            h6
            p
        item-plus
        item-minus
{% endcomment %}
<style>
    .size-guide-wrapper{
        width:100%;
        height:100vh;
        position:fixed;
        top:0px;
        right:-100%;
        /* background: rgba(0,0,0,0.6); */
         transition: all 0.5s ease;
        z-index: 99999;
        overflow-y:scroll;
    }
    .size-guide-wrapper hr{
        border-top:1px solid #EBEBEB;
        height: 1px;
        margin-top:24px;
        margin-bottom:24px;
    }
   
    .size-guide{
        width:489px;
        background:#fff;
        color:#010101;
        z-index:9999;
        position:absolute;
        top:0;
        right:0;
        
        padding:20px;
    }
    .sizeslider{
        margin-bottom:20px;
    }
    .size-guide h4{
        font-size:24px;
        font-weight:500;
        margin-bottom:12px;
        color:#010101;
    }
    .size-guide h5{
        font-size:18px;
        font-weight:500;
        margin-bottom:12px;
        color:#010101;
    }
    .size-guide p{
        font-size:16px;
        font-weight:400;
        color:#010101;
    }
    
    .size-guide .img{
        width:100%;
        margin-bottom:20px;
    }
    .close-guide{
        position:absolute;
        top:20px;
        right:20px;
    }
    .close-guide:hover{
        cursor:pointer;
    }
    .accordion{
        margin-bottom:30px;
    }
    .accordion-item{
        background:#F0F0F7;
        padding: 20px;
        position:relative;
        margin-bottom:12px;
        border-radius: 8px;
    }
    .accordion-item h6{
        font-size:16px;
        font-weight:600;
        display:inline-block;
        color:#363640;
        width:90%;
    }
    .accordion-item p{
        font-size:14px;
        font-weight:400;
        color:#363640;
    }
    .item-minus,
    .item-plus{
        width:24px;
        height:24px;
        position:absolute;
        right:20px;
        top:20px;
    }
    .item-minus:hover,
    .item-plus:hover{
        cursor:pointer;
    }

    .item-minus{
        display:none;
    }
    .accordion-item p{
        display:none;
        margin-bottom: 0;
        margin-top:20px;
        line-height: 20px;

    }

    .accordion-item h6{
        margin-bottom:0;
        padding-bottom:0;
    }
    
    .sizeslide{
        border-radius: 8px;
        width: 285px;
        margin-right: 20px;        
    }
    .size-guide-wrapper .slick-track{
        left:-79px;
    }
    .size-table-2{
        margin-bottom:0 !important;
    }
    @media only screen and (max-width:480px){
        .size-guide{
            width:100%;
        }
        .size-guide-wrapper .slick-track{
            left:-30px;
        }
    }
</style>
<script>
    $(document).ready(function(){


    
    $(".trigger-pop-up-1").click(function(){
            $('.size-guide-wrapper').css('right', '0'); 
            setTimeout(function() {
                $('.size-guide-wrapper').css('background', 'rgba(0,0,0,0.6)'); 
            }, 500);
            
            
        })

        $(".trigger-pop-up-2").click(function(){
            $('.size-guide-wrapper').css('right', '0'); 
            setTimeout(function() {
                $('.size-guide-wrapper').css('background', 'rgba(0,0,0,0.6)'); 
            }, 500);
            
            
        })
        $(".trigger-pop-up").click(function(){
            $('.size-guide-wrapper').css('right', '0'); 
            setTimeout(function() {
                $('.size-guide-wrapper').css('background', 'rgba(0,0,0,0.6)'); 
            }, 500);
            
            
        })

        $(".close-guide").click(function(){
            
            $('.size-guide-wrapper').css('background', 'transparent');
            setTimeout(function() {
                $('.size-guide-wrapper').css('right', '-100%');      
            }, 500);
            
            
            
        })
        /*
        $(".size-guide-wrapper").click(function(){
            
            $('.size-guide-wrapper').css('background', 'transparent');
            setTimeout(function() {
                $('.size-guide-wrapper').css('right', '-100%');      
            }, 500);
            
            
            
        })
*/
        $(".item-plus").click(function(){
            $(this).parent(".accordion-item").find("p").slideDown()
            $(this).parent(".accordion-item").find(".item-plus").hide()
            $(this).parent(".accordion-item").find(".item-minus").show()
            
        })

        $(".item-minus").click(function(){
            $(this).parent(".accordion-item").find("p").slideUp()
            $(this).parent(".accordion-item").find(".item-plus").show()
            $(this).parent(".accordion-item").find(".item-minus").hide()
        })

        $('.sizeslider').slick({
        infinite: true,
        slidesToShow: 1,
        centerMode: true,
        arrows: false,
        centerPadding: '100px',
        autoplay: false,
        variableWidth: true
        });
    })
</script>