<div class="trio-flexer page-width" style="margin-bottom:40px;">
  <div class="trio">
    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/box_1.png?v=1682196474" alt="box">
    <p>Free secured shipping</p>
    <p>
      <span>Over $145 on domestic orders</span>
    </p>
  </div>
  <div class="trio">
    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/home_1_1.png?v=1682196474" alt="home">
    <p>Aussie family business</p>
    <p>
      <span>Run by medical workers</span>
    </p>
  </div>
  <div class="trio">
    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/mark_2.png?v=1682196474" alt="mark">
    <p>60-day guarantee</p>
    <p>
      <span>Love it or your money back</span>
    </p>
  </div>
</div>

<style>
  .trio-flexer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top:40px;
  }
  .trio {
    flex: 0 0 32%;
  }
  .trio img{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inherit;
    margin-bottom:12px;
  }
  .trio-flexer p {
    font-family: 'futurapt';
    font-size: 18px;
    color: #050507;
    text-align:center;
    margin-bottom: 12px;
  }
  .trio-flexer p span {
    color: #050507;
    text-align:center;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px !important;
  }
  @media only screen and (min-width:490px){
    .trio-flexer{
      display:none;
    }

  }
</style>