<div class="yellowwrapper">
  <div class="yellow">
    <div class="centerwrapper">
      <p style="margin-bottom:30px">Ready to build your set?</p>
      <a href="#TOP">
        <button>LETS' GO</button>
      </a>
    </div>
  </div>
</div>

<style>
  .yellowwrapper {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    max-width: 732px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .yellow {
    background: #EDC045;
    color: #050507;
    padding: 40px;
    width: 100%;
    display: block;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    max-width: 1300px;
  }
  .yellow p {
    font-family: 'futurapt';
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
  }
  @media only screen and (min-width:490px){
    .yellow p {
      font-family: 'futurapt';
      font-weight: 700;
      font-size: 42px;
      line-height: 29px;
      text-align: center;
    }
  }
  .yellow button {
    width: 221px;
    height: 53px;
    left: 77px;
    top: 3590px;
    background: #fff;
    color: #050507;
    border-radius: 50px !important;
    font-family: 'futurapt';
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
</style>