<div class="page-width" style="display:flex;justify-content:center;">{{ section.settings.custom_html }}</div>
<style>
  .main-content img{
    border-radius:8px;
  }
  @media only screen and (max-width:480px){
    .main-content{
      
    }
    
  }
</style>
{% schema %}
  {
    "name": "Custom HTML",
    "settings": [
      {
        "label": "Custom HTML",
        "id": "custom_html",
        "type": "textarea"
      }
    ],
    "presets": [{
      "name": "Custom HTML",
      "category": "Text"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}