<div class="page-width">{{ section.settings.custom_html }}</div>
{% schema %}
  {
    "name": "Custom HTML",
    "settings": [
      {
        "label": "Custom HTML",
        "id": "custom_html",
        "type": "textarea"
      }
    ],
    "presets": [{
      "name": "Custom HTML",
      "category": "Text"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}