<div class="fullwidth logotop topHeader">
	<div class="listicleContainer">
		<img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/coserlogo.png?v=1723548344" class="main-logo">
	</div>
</div>
<div class="fullwidth">
	<img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Screenshot_2024-08-13_185731.png?v=1723548345" class="desktop-hero" />
	<img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Screenshot_2024-08-13_185731.png?v=1723548345" class="mobile-hero" />
</div>
<section class="iconLine">
	<div class="flexer center">
		<img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/depoat.png?v=1723548344" class="desktop-icons" />
	</div>
</div>
<section class="ourMission">
	<div class="flexer center">
		<div class="listicleContainer">
			<h2>Our Mission</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</section>
<section class="listicleFeatures">
	<div class="listicleContainer">
		<div class="flexer center">
			<h2>Features</h2>
		</div>
		<div class="listicleProducts">
			<div class="listicleProduct">
				<img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/prod1.png?v=1723548344" class="left-image" />
				<div class="right-text">
					<h4>Undershirt Feature</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>
			</div>
			<div class="midline">
                <div class="leftDash">

                </div>
                <div class="rightDash">
                    
                </div>
			</div>
			<div class="listicleProduct">
				<img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/prod2.png?v=1723548345" class="left-image" />
				<div class="right-text">
					<h4>Undershirt Feature</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>
			</div>
        </div>
        <div class="listicleProducts">
			<div class="listicleProduct">
				<img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/prod3.png?v=1723548344" class="left-image" />
				<div class="right-text">
					<h4>Undershirt Feature</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>
			</div>
			<div class="midline">
                <div class="leftDash">

                </div>
                <div class="rightDash">
                    
                </div>
			</div>
			<div class="listicleProduct">
				<img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/prod4.png?v=1723548344" class="left-image" />
				<div class="right-text">
					<h4>Undershirt Feature</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>
			</div>
		</div>
	</div>

</section>
<section class="listicleBoxes">
	<div class="fullwidth">
		<div class="flexer listicleContainer">
			<div class="listicleTrio">
				<h5>BASIC</h5>
				<img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/trend1.png?v=1723548344" class="" />
				<h6>$25/month</h6>
				<ul>
					<li>1 item/month</li>
					<li>Home Try On</li>
					<li>S/H Included</li>
				</ul>
				<a href="#"><button class="coserButton">GET THIS</button></a>
			</div>	
			<div class="listicleTrio mid">
				<h5>FRESH</h5>
				<img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/trend2.png?v=1723548344" class="" />
				<h6>$45/month</h6>
				<ul>
					<li>2 items/month</li>
					<li>Home Try On</li>
					<li>S/H Included</li>
				</ul>
				<a href="#"><button class="coserButton">GET THIS</button></a>
			</div>
			<div class="listicleTrio">
				<h5>TRENDY</h5>
				<img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/trend3.png?v=1723548344" class="" />
				<h6>$65/month</h6>
				<ul>
					<li>3 items/month</li>
					<li>Home Try On</li>
					<li>S/H Included</li>
				</ul>
				<a href="#"><button class="coserButton">GET THIS</button></a>
			</div>
		</div>
	</div>
</section>
<section class="listicleTestimonial listicleContainer" style="display:none">
	<div class="flexer">
		<div class="listicleDuo">
			<div class="duoHeader">
				<img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/guy1.png?v=1723548344" />
				<h6>Joseph Fakeman</h6>
				<p>@fakemanJ</p>
			</div>
			<p>This quote needs to counter any objections people might have using the product.</p>
		</div>
		<div class="listicleDuo">
			<div class="duoHeader">
				<img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/guy2.png?v=1723548344" />
				<h6>Arthur Vandelay</h6>
				<p>@VandelayIndustries</p>
			</div>
			<p>This quote needs to nudge people towards conversion by establishing trust.</p>
		</div>
	</div>
</section>
<section class="listicleAd">
	<div class="fullwidth">
		<img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/footer2.png?v=1723754041" class="desktop-hero" />
		<img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/footer2.png?v=1723754041" class="mobile-hero" />
	</div>
</section>
<section style="display:none;">
	<div class="container">
		<p>COSER <span>© Insert Name Here</span>
	</div>
</section>

<style>
	body{
		color:#9B9B9B;
	}
    h2,h3,h4,h5,h6{
        font-weight:900;
    }
    div#shopify-section-footer,
    #shopify-section-header, footer{
        display:none !important
    }
	.fullwidth{
		width:100%;
	}
    .desktop-hero,
    .mobile-hero{
        width:100%;
    }
	.topHeader{
		background: rgba(37,37,37,1);
		padding-top:40px;
		padding-bottom:40px;
        position:fixed;
        z-index: 9999;
	}

    
	.listicleContainer{
        max-width:940px;   
        width:100%;
        margin-left:auto;
        margin-right:auto;
	}
    .topHeader .listicleContainer{
        max-width:1510px;
    }
    @media only screen and (max-width:1400px){
        .listicleContainer{
            max-width:1046px;
                     
            width:100%;
            margin-left:auto;
            margin-right:auto;
	    }
    }
	.main-logo{
		height: 22px;
		width:auto;
	}
	.desktop-icons,
	.desktop-hero{
		display:block;
	}
	.mobile-icons,
	.mobile-hero{
		display:none;
	}
	.flexer{
		display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
	}
    .flexer.center{
        justify-content: center;
    }
	.iconLine{
		padding-top:42px;
		padding-bottom:42px;
	}
	.ourMission{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.ourMission h2{
		/* monzerat */
		font-size:36px;
		color:#252525;
		padding-bottom:40px;
		text-align:center;
	}
	.ourMission p{
		/* open sans */
		font-size:12px;
		width:738px;
		text-align:center;
        margin-left: auto;
        margin-right: auto;
		color:#9B9B9B !important;
		line-height: 17px;
	}
	
	
	.listicleFeatures{
		padding-top:40px;
		padding-bottom:40px;
	}
	.listicleFeatures h2{
		/* monzerat */
		font-size:36px;
		color:#252525;
		text-align:center;
		padding-bottom:80px;
        margin-bottom: 20px;
	}
	.listicleProducts{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items:flex-start;
        
    }
	.listicleProduct{
		display:flex;
        justify-content: flex-start;
		width:368px;
        align-items:flex-start;
	}
	.left-image{
		width:68px;

		height:auto;
		margin-right:60px;
	}
	.right-text h4{
        /* monzerat */
        color:#4a90e2;
        font-size:14px;
    }
    .right-text p{
		font-size:12px;
		text-align:left;
        margin-left: auto;
        margin-right: auto;
		color:#9B9B9B !important;
		line-height: 17px;
    }
    .listicleBoxes{
        display: flex;
        justify-content: space-between;
        background: rgba(155, 155, 155, 1);
        border-style: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-top:144px;
        padding-bottom:74px;
    }
    .listicleBoxes .flexer{
        align-items: flex-start;
        justify-content: space-between;

    }
    .listicleTrio{
        width:211px;
        text-align:center;
        background:#fff;
        padding-top:20px;
    }
    .listicleTrio h5{
        color:#9B9B9B !important;
        font-weight:400;
        font-size: 14px;
        line-height: 17px;
        margin-bottom:30px
    }
    .listicleTrio img{
        margin-bottom:20px;
    }
    .listicleTrio h6{
        color:#9B9B9B !important;
        font-weight:400;
        font-size: 22px;
        margin-bottom:30px;
    }

    .listicleTrio.mid{
        transform: scale(1.05);
        border:1px solid #4a90e2 !important;
        
    }
    
    .listicleTrio a button{
        display: block;
        background: #4A90E2;
        border-style: none;
        border-radius: 0px !important;
        color:#fff;    
        text-align: center;
        padding:22px 0;
        width:100%;
        border-bottom: 2px solid rgba(46,107,178,1);

    }
    .listicleTrio.mid h5,
    .listicleTrio.mid h6{
        color:#4a90e2 !important;
    }
    .listicleTrio div{
        width:100%;
        display:block;
    }
    .listicleTrio ul{
        list-style-type: none;
        margin:0 !important;
    }
    .listicleTrio ul li{
        padding:12px;
        text-align:center;
        padding:8px;
        margin-bottom:0;
        font-size:12px;
    }
    .listicleTrio.mid li{


    }
    .listicleTrio ul li:nth-child(odd){
        background:rgba(216,216,216,1);
        color:#fff;
    }
    .listicleTrio ul li:nth-child(even){
        color:#9B9B9B !important;
    }
    .midline{
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        border-top:1px dashed #9B9B9B !important;
        position: relative;
        left: -11px;
        top: 40px;
        width: 167px;
        height: 222px;
    }
    .leftDash{
        flex: 0 0 50%;
        border-right:1px dashed #9B9B9B !important;
    }

    .rightDash{
        flex: 0 0 50%;
    }
	@media only screen and (max-width:480px){
		.desktop-icons,
		.desktop-hero{
			display:none;
		}
		.mobile-icons,
		.mobile-hero{
			display:block;
		}
	}
</style>
{% schema %}
    {
      "name": "New Listicle",
      "class": "index-section--newlisticle",
      "settings": [
          {
              "type": "text",
              "id": "title",
              "label": "Heading",
              "default": "Tag Group"
            }
      ],
      "presets": [{
        "name": "New Listicle",
        "category": "Text"
      }]
    }
  {% endschema %}
  