<div class="size-guide-wrapper">
    <div class="size-guide section-id-{{ section.id }}">
        
        <h4>Size guide</h4>
        <p>You work in healthcare - which means your heart size is 37XL and your tolerance for BS is 37XS. But, what size are your scrubs?</p>
        <hr/>
        <h4>Sizes & Measurements</h4>
        {% unless page.handle contains 'women' %}
            <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/mentab.svg?v=1707422216" class="img size-table-1">
        {% else %}
            <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_174_3.svg?v=1710729463" class="img size-table-1">
        {% endunless %}

        
        <h5>Inseam</h5>
        {% unless page.handle contains 'women' %}
            <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_175_1.png?v=1706547309" class="img size-table-2">
        {% else %}
            <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_175_1.svg?v=1713637925" class="img size-table-2">
        {% endunless %}
        
        <hr/>
        <h4>How to measure</h4>
        
        {% unless page.handle contains 'women' %}
            <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_186.svg?v=1707117345" class="img humanpic">
        {% else %}
            <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Frame_186_1.svg?v=1707117344" class="img humanpic">
        {% endunless %}
        <div class="accordion">
            {% unless page.handle contains 'women' %}
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>Bust</h6>
                    <p>The fullest part of your upper body.</p>
                </div>
                {% else %}
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>Bust</h6>
                    <p>The fullest part of your upper body. You'll have to put bra on to measure it (SOZ).</p>
                </div>
            {% endunless %}

            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Waist</h6>
                <p>The narrowest bit of your torso. About 3 fingers above the belly button.</p>
            </div>
            {% unless page.handle contains 'women' %}
                <div class="accordion-item">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                    <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                    <h6>Hips</h6>
                    <p>The widest part of your lower body.</p>
                </div>              
            {% else %}
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Hips</h6>
                <p>The widest part of your lower body. (And the most honest according to Shakira.)</p>
            </div>
            {% endunless %}


            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Inseam</h6>
                <p>The distance from your crotch to the knobbly bit of your ankle.</p>
            </div>
        </div>
        <hr/>
        <h4>Meet our models</h4>
        {% unless page.handle contains 'women' %}
            <div class="sizeslider">
                
                
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/1_c8912077-7652-4872-b5a3-0b06893f5c43.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/2_7b54e28d-2dc6-445e-877c-5ae18c7846ae.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Dr._Woof_Sizing_Guide_Mens_600x600_b194d15e-c960-4e0b-b8ea-80c3fb59b186.webp?v=1707071359" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Dr._Woof_Sizing_Guide_Mens_Forest_AU_600x600_61483c9d-df63-42a4-b0f9-87f50f928ca2.webp?v=1707071359" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Dr._Woof_Sizing_Guide_Mens_Arnie_AU_600x600_4e2efea7-6223-49d9-86f7-c196455b822e.webp?v=1707071359" class="sizeslide">
                
            </div>
        {% else %}
            <div class="sizeslider">
                
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/4_4ba3eef1-8055-43ad-9fee-fc9f01670838.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/3_9701f666-fcc1-413d-8d3e-a39d319a4d85.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/6_9b60b403-cadd-4d55-8bbf-50ddbe8fba68.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/8_1b9990b2-3077-4d74-99d3-2828b2371ae0.png?v=1709893851" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/7_97dbb3a7-b3f7-4e51-b7df-9a551c72a488.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/5_7342bd39-d748-4af4-99c8-f6b71d92a17b.png?v=1709893850" class="sizeslide">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Dr._Woof_Sizing_Guide_Womens_Afua_AU_600x600_fd3d1d2f-8d58-4213-ae53-0f065b72b6d3.webp?v=1706736468" class="sizeslide">

            </div>
        {% endunless %}


        <hr/>
        <h4>Frequently asked questions</h4>
        <div class="accordion">
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Are your scrubs true to size?</h6>
                <p>If we go by exchanges, 92 - 95% of people who purchase our scrubs are happy with the size they pick.</p>
            </div>
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>What is the best way to get the right size?</h6>
                <p>Your best bet is to take your measurements and match them to the sizing chart. We know pulling out the tape-measure is a pain in the arse - but it also works. We use this method to work out which scrub sizes to bring to model shoots - with no mistakes so far.</p>
            </div>
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>I'm in between sizes, should I size up or size down? </h6>
                <p>We'd suggest sizing up.  Among the small group of customers that exchange their scrubs, the majority swap for a larger size.</p>
            </div>
            <div class="accordion-item">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus_1.png?v=1706547251" class="item-plus">
                <img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/Plus.png?v=1706547250" class="item-minus">
                <h6>Any plans for larger sizes? </h6>
                <p>Yes! We have added 3XL in late 2023, and we will continue to expand the range moving forward.</p>
            </div>
        </div>
    
    </div>
</div>

{% comment %}
    size-guide
    h4
    img
    close-guide
    accordion
        accordion-item
            h6
            p
        item-plus
        item-minus
{% endcomment %}
<style>
    .size-guide-wrapper{
        max-width:1200px;
        width:100%;
        margin-left:auto;
        margin-right:auto;
        
        
        
        
        /* background: rgba(0,0,0,0.6); */
         transition: all 0.5s ease;
        z-index: 99999;
        
    }
    .size-guide-wrapper hr{
        border-top:1px solid #EBEBEB;
        height: 1px;
        margin-top:24px;
        margin-bottom:24px;
    }
   
    .size-guide{
        width:489px;
        background:#fff;
        color:#010101;
        z-index:9999;        
        padding:20px;
        margin:0 auto;
    }
    .sizeslider{
        margin-bottom:20px;
    }
    .size-guide h4{
        font-size:24px;
        font-weight:500;
        margin-bottom:12px;
        color:#010101;
    }
    .size-guide h5{
        font-size:18px;
        font-weight:500;
        margin-bottom:12px;
        color:#010101;
    }
    .size-guide p{
        font-size:16px;
        font-weight:400;
        color:#010101;
    }
    
    .size-guide .img{
        width:100%;
        margin-bottom:20px;
    }
    .close-guide{
        position:absolute;
        top:20px;
        right:20px;
    }
    .close-guide:hover{
        cursor:pointer;
    }
    .accordion{
        margin-bottom:30px;
    }
    .accordion-item{
        background:#F0F0F7;
        padding: 20px;
        position:relative;
        margin-bottom:12px;
        border-radius: 8px;
    }
    .accordion-item h6{
        font-size:16px;
        font-weight:600;
        display:inline-block;
        color:#363640;
        width:90%;
    }
    .accordion-item p{
        font-size:14px;
        font-weight:400;
        color:#363640;
    }
    .item-minus,
    .item-plus{
        width:24px;
        height:24px;
        position:absolute;
        right:20px;
        top:20px;
    }
    .item-minus:hover,
    .item-plus:hover{
        cursor:pointer;
    }

    .item-minus{
        display:none;
    }
    .accordion-item p{
        display:none;
        margin-bottom: 0;
        margin-top:20px;
        line-height: 20px;

    }

    .accordion-item h6{
        margin-bottom:0;
        padding-bottom:0;
    }
    
    .sizeslide{
        border-radius: 8px;
        width: 285px;
        margin-right: 20px;        
    }
    .size-guide-wrapper .slick-track{
        
    }
    .size-table-2{
        margin-bottom:0 !important;
    }
    @media only screen and (max-width:480px){
        .size-guide{
            width:100%;
        }
        .size-guide-wrapper .slick-track{
            
        }
    }
</style>
<script>
    $(document).ready(function(){
        $(".trigger-pop-up").click(function(){
            $('.size-guide-wrapper').css('right', '0'); 
            setTimeout(function() {
                $('.size-guide-wrapper').css('background', 'rgba(0,0,0,0.6)'); 
            }, 500);
            
            
        })

        $(".close-guide").click(function(){
            
            $('.size-guide-wrapper').css('background', 'transparent');
            setTimeout(function() {
                $('.size-guide-wrapper').css('right', '-100%');      
            }, 500);
            
            
            
        })

        $(".item-plus").click(function(){
            $(this).parent(".accordion-item").find("p").slideDown()
            $(this).parent(".accordion-item").find(".item-plus").hide()
            $(this).parent(".accordion-item").find(".item-minus").show()
            
        })

        $(".item-minus").click(function(){
            $(this).parent(".accordion-item").find("p").slideUp()
            $(this).parent(".accordion-item").find(".item-plus").show()
            $(this).parent(".accordion-item").find(".item-minus").hide()
        })

        $('.sizeslider').slick({
        infinite: true,
        slidesToShow: 1,
        centerMode: true,
        arrows: false,
        centerPadding: '100px',
        autoplay: false,
        variableWidth: true
        });
    })
</script>

{% schema %}
  {
    "name": "Sizing",
    "class": "index-section--flush",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Tag Group"
          }
    ],
    "presets": [{
      "name": "Sizing",
      "category": "Text"
    }]
  }
{% endschema %}
