.accordion_subheading, .cart_drawer_custom .cart__item .cart__row-product, .error_message2, header.section-header {
    margin-bottom: 15px;
}
.h1, .h3, .h4, .h5, .h6, .section-header__title, .spr-header-title.spr-header-title, h1, h3, h4, h5, h6 {
    text-transform: inherit;
}
.rate.banner_text_announcmenet span {
    font-size: 12px;
}
a.btn.btn--tertiary.btn--small.js-no-transition {
    font-size: 15px;
}
.product__quantity input[type=number] {
    text-align: center;
}
.error_message2 {
    color: red;
    font-weight: 900;
}
.country_flag, .product__quantity .input-group input[type=button], span.color-swatch {
    cursor: pointer;
}
.site-nav__thumb-menu .btn {
    letter-spacing: .2em!important;
    text-transform: uppercase!important;
    font-size: 18px!important;
    display: inline-block!important;
    padding: 0!important;
    margin: 0!important;
    width: auto!important;
    min-width: 90px!important;
    line-height: 1.42!important;
    text-decoration: none!important;
    vertical-align: middle!important;
    white-space: normal!important;
    cursor: pointer!important;
    border: 0!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    border-radius: 35px!important!important;
    color: #fff!important!important;
    background: 0 0!important;
    transition: background .15s!important;
    letter-spacing: .1em!important;
    height: unset!important;
    text-align: left!important;
    color: #000!important;
}
.variant-input-wrap label, p.zip-container {
    margin: 0!important;
}
.afterpay-text2, .not_bundle .zip-widget__wrapper, .product__thumb-item a:before {
    display: none!important;
}
p.afterpay-paragraph {
    margin: 10px 0;
}
#ProductSelect-6701376078008-option-2 .label_options.disabled, #bcpo-select-option-0 label.bcpo-front-button-label.bcpo-disabled:after, #section-header .store-switcher.Header__Icon.Icon-Wrapper img.angle-down, .Select_price_Combination span, .accordion_heading, .header-layout--mobile-logo-only .toggle_header, .mobile-atc, .mobile-view, .plus_minus_status.true.false, .product__photo-zoom, .secondary-alt-image, .variant-input.disabled label:after, div#ProductScreens .collapsibles-wrapper, span.normal_price .zip-widget__wrapper {
    display: none;
}
.product-single__prices.bundle_template {
    display: inline-block;
}
.product-single__prices span.normal_price {
    display: inline-block;
    margin-bottom: 10px;
}
.accordion_heading h3.main_heading {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e8e8e8;
    padding: 13px 0;
    margin-top: 0;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 0;
}
.accordion_heading:last-of-type h3.main_heading {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 30px;
}
#section-header #Flagdropdown.desktop-flag-ul li a:last-child, #shopify-section-product-recommendations .index-section, .footer__social, .product-single__form {
    margin-bottom: 0;
}
div#section-header {
    position: absolute;
    top: 0;
    right: 150px;
    z-index: 9999;
}
#section-header .image_hai {
    width: 30px;
    height: 30px;
    border-radius: 50%}
#section-header .store-switcher.Header__Icon.Icon-Wrapper span, .image-quick, .image-wrap, .transition-body, .variant-input.disabled {
    position: relative;
}
li.index_one span {
    border-bottom: 1px solid #000;
}
.dropdowntrigger {
    cursor: pointer;
    margin: 4px;
    display: flex;
    align-items: center;
}
#section-header .store-switcher.Header__Icon.Icon-Wrapper label {
    padding-right: 10px;
    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #0d202f;
    font-size: 14px;
    letter-spacing: 1.2px;
    margin-top: -2px;
}
.desktop-flag-ul {
    list-style: none;
    margin: 0;
    outline: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .5);
    box-shadow: 0 0 7px rgba(0, 0, 0, .5);
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    z-index: 1;
    left: 0;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}
#section-header #Flagdropdown.desktop-flag-ul::after {
    content: '';
    width: 15px;
    height: 15px;
    background: #fff;
    top: -8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 25px;
    position: absolute;
    z-index: -1!important;
    -webkit-box-shadow: -8px -1px 7px rgba(0, 0, 0, .2);
    box-shadow: -8px -1px 7px rgba(0, 0, 0, .2);
}
.swatch-variantClick, .variant-input-wrap input[type=radio]:checked+label {
    box-shadow: 0 0 0 1px #000;
}
#section-header #Flagdropdown.desktop-flag-ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    color: #6c6c6c;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}
#section-header #Flagdropdown.desktop-flag-ul li a span {
    margin-left: 10px;
    font-size: 18px;
    color: #000;
    text-decoration: underline;
    border: 0;
}
#section-header .desktop-flag-ul.activeFlag {
    display: flex;
    flex-direction: column;
}
#section-header ul.flag-drop-down li {
    margin-top: 7px;
}
html {
    padding-bottom: 0!important;
}
.country_selector, .main_country {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.country_selector .dropdowntrigger img.image {
    height: 35px;
    width: 35px;
    border-radius: 50%}
.country_selector .store-switcher.Header__Icon.Icon-Wrapper .dropdowntrigger span {
    position: relative;
    font-weight: 400;
    font-size: 17px;
    margin: 0 10px;
}
div#shopify-section-page-contact-template .sections-wrapper {
    margin-top: 50px;
}
.bar {
    width: 100%;
    height: 30px;
    background-color: #fff;
}
.bar-inner {
    width: 0%;
    height: 100%;
    position: relative;
    background-color: #b8d2bc;
    transition: width 3s linear;
}
.template-cart .free_shipping {
    background: #f3f3f3;
    padding: 20px 0;
    margin-bottom: 60px;
}
.template-cart .free_shipping p {
    font-size: 14px;
    color: #000;
    margin: 0 0 10px;
}
.template-cart .bar {
    height: 8px;
    background-color: #fff;
    border-radius: 10px;
}
.template-cart .bar-inner {
    border-radius: 10px;
}
.template-cart .qty-main {
    display: flex;
    background: #f5f5f5;
    max-width: 100px;
    margin-top: 15px;
}
.template-cart .qty-main input {
    margin: 0;
    border: none;
    text-align: center;
    width: 50px;
}
.cart__row-product .cart__row-content {
    width: calc(100% - 115px);
}
.template-cart .cart__row-product {
    align-items: unset;
}
.template-cart .qty-main .qty-icons {
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    cursor: pointer;
}
.cart__product-image-wrap a.cart__product-image {
    height: 100%;
    background-size: cover;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.grid.grid--full.cart__row--table[data-firstvalue=false_false] .Select_price_Combination span, .grid.grid--full.cart__row--table[data-firstvalue=true_true] .Select_price_Combination span, .secondary-alt-image:first-child, .template-cart .cart__remove svg {
    display: block;
}
.template-cart a.cart__remove {
    display: inline-block;
    margin-top: 2px;
}
.template-cart .total-price-remove {
    display: flex;
    justify-content: flex-end;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
}
.template-cart .total-price-remove .cart__remove {
    margin-left: 10px;
}
div#CartPage form.cart {
    max-width: 600px;
    margin: 0 auto;
}
.template-cart .price-qty {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    margin-top: 15px;
}
.cart__item.cart__row .cart__checkout-wrapper a {
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
    font-size: 14px;
}
.cart__row.cart__footer {
    border-top: 1px solid #000!important;
}
.main_country .country_name {
    margin-left: 10px;
    cursor: pointer;
}
.main_country .country_name span {
    font-size: 13px;
    text-transform: uppercase;
}
.main_country .country_flag img {
    max-width: 25px;
    image-rendering: -webkit-optimize-contrast;
    display: block;
}
.cart__footer .cart__subtotal {
    display: flex;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    font-size: 20px;
}
.cart__footer button.btn.cart__checkout {
    width: 100%}
.cart__item.cart__row .cart__checkout-wrapper {
    text-align: center;
    margin-top: 30px;
}
.template-cart .cart__product-name {
    font-size: 20px;
}
.popups_country {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    transform: translate3d(0, 100vh, 0);
    transition: transform .4s;
    z-index: 9999;
}
.popups_country.show-overlay-country {
    transform: translate3d(0, 0, 0);
}
#country-popup {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: #fff;
    margin: 20px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#country-popup .label, .variant-input-wrap {
    margin-bottom: 25px;
}
#country-popup select {
    width: 100%;
    border: 1px solid #000;
    padding: 7px 10px;
    font-size: 16px;
    height: 45px;
}
#country-popup button.country-redirect {
    background: #000;
    width: 100%;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    height: 45px;
    border: 1px solid #000;
    font-size: 18px;
}
#country-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000;
}
.template-cart .total-price-remove .hulkapps-cart-item-line-price {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.template-cart .total-price-remove .hulkapps-cart-item-line-price span {
    padding: 0 5px;
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
}
.cart__item.cart__row .cart__row-content .update-cart-btn, .index-section.product-reviews, .main-icon-cont p, ul.no-bullets.tag-list.tag-list--swatches {
    margin: 0;
}
.cart__footer .cart__subtotal span.th_cart_total_price {
    font-size: 18px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.cart__footer .cart__subtotal span.th_cart_total_price span {
    font-size: 18px;
}
.cart__footer .cart__subtotal span.th_cart_total_price span.hulkapps-cart-total {
    margin-left: 8px;
}
.cart__footer .cart__subtotal span.cart__subtotal_title {
    color: gray;
}
.cart__footer .cart__subtotal span.cart__subtotal_title, .cart__footer .cart__subtotal span.th_cart_total_price span {
    font-family: Cabin, sans-serif;
}
.site-header--sticky.site-header--opening {
    box-shadow: 0 0 10px #695b5b61;
}
.search-modal__input, span.cart__item-subtitle.cart__item-subtitle--inline.cart_variant {
    font-size: 16px;
}
.grid-product__content .grid-product__title {
    min-height: auto;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
    text-transform: capitalize;
}
.grid-product__content .Custom_Quick_View:hover, .grid__item.grid-product a .grid-product__title {
    text-decoration: underline;
}
.Main_bundle_Here .builder_card:hover {
    box-shadow: none;
}
.Main_bundle_Here .builder_card .custom_builder_option label.color-swatch {
    height: 30px;
    width: 30px;
    padding: 0;
}
.Main_bundle_Here .builder_card {
    padding: 15px;
}
.Main_bundle_Here .builder_card .custom_builder_option {
    padding: 0;
    margin: 15px 0 0;
}
.Main_bundle_Here .builder_card .column_box_top img {
    transform: none;
    display: block;
}
.product-single__meta .Main_bundle_Here .master_box_top {
    box-shadow: 0 0 10px #0000001f;
    margin: 0 0 20px;
    padding: 0;
}
.Main_bundle_Here .builder_box, .Main_bundle_Here .builder_card, .Main_bundle_Here .custom_builder_option {
    border: none;
}
.Main_bundle_Here .builder_card .custom_builder_option .variant-wrapper {
    margin-top: 0;
    position: relative;
}
.Main_bundle_Here .builder_card .builder_top_slide {
    margin: 0 -10px;
}
.Main_bundle_Here .builder_card .builder_top_slide .column_box_top {
    padding: 0 10px;
}
.Main_bundle_Here .builder_card .custom_builder_option label.variant__label {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.Main_bundle_Here .builder_card .custom_builder_option label {
    margin: 0 0 5px;
}
.Main_bundle_Here .builder_card .custom_builder_option select {
    margin: 5px 0 15px;
}
.Main_bundle_Here .builder_card .builder_top_slide .column_box_top p.builder_card_title {
    margin-bottom: 5px;
    font-size: 18px;
}
.Main_bundle_Here .builder_card .custom_builder_option .variant-wrapper .Main_size_chart_custom {
    text-align: right;
    position: absolute;
    top: -4px;
    right: 0;
    line-height: initial;
}
.Main_bundle_Here .builder_card .custom_builder_option .variant-wrapper .Main_size_chart_custom a.size_chart_custom {
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
}
.background-media-text__text h2.h1, .feature-row__item .h1, .footer-bottom-inner h5.main_heading {
    font-weight: 600;
}
.announcement__text, .feature-row__item, .product-single__prices, .site-footer__copyright, .skrim__underline-me, footer.site-footer .footer-bottom a, footer.site-footer .footer-bottom p, li.site-nav__item.site-nav__expanded-item a {
    font-weight: 500;
}
.Custom_Quick_View {
    position: absolute;
    bottom: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    width: 100%;
    background: #ffffffbd;
    padding: 0;
    font-size: 14px;
    transition: .2s;
    line-height: 35px;
    cursor: pointer;
    font-weight: 500;
}
.grid-product__content:hover .Custom_Quick_View {
    transform: scaleY(1);
}
.screen-layer {
    padding: 20px;
}
.cart-all-products button.slick-next {
    right: -34px!important;
}
.slick-next:before, .slick-prev:before {
    color: #000;
    font-size: 40px;
    line-height: 60px!important;
    text-shadow: none;
}
@media(min-width:769px) {
    .site-header--sticky .site-nav {
    font-size: 16px;
}
.screen-layer__inner .product-content-right, .screen-layer__inner .product-image-left {
    width: 50%}
.Mobile-shown-only, footer.site-footer .inline-list.payment-icons {
    display: none;
}
}@media only screen and (max-width:767px) {
    .rate.banner_text_announcmenet, .rate.banner_text_announcmenet span {
    letter-spacing: .2em;
    font-size: 9px;
    font-weight: 500;
}
.bts_container, .main-icon-cont, .main-text {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}
.btn, .product-reviews .spr-button, .product-reviews .spr-summary-actions a, .rte .btn, .shopify-payment-button .shopify-payment-button__button--unbranded {
    padding: 14px 25px;
}
a.__button.__mobile.btn {
    font-size: 14px;
    padding: 9px 10px;
    line-height: 1rem;
    min-height: 54px;
}
.rate.banner_text_announcmenet {
    padding: 8px 20px 6.32px!important;
    text-transform: uppercase;
}
.main-icon-cont {
    background-color: #e0ede9!important;
}
.bts_container {
    padding: 20px 10px;
    background-color: #e0ede9;
}
.bts_container button {
    font-size: 13px;
}
.not_bundle p.afterpay-paragraph {
    margin: 15px 0!important;
}
div#section-header {
    position: fixed;
    bottom: 0;
    right: 0;
    top: unset;
    left: unset;
    color: #000;
    margin-left: 10px;
}
.dropdowntrigger {
    padding: 5px 15px;
    background: #fff;
}
#section-header .store-switcher.Header__Icon.Icon-Wrapper span {
    margin: auto 5px;
}
span.product__title_color_variants {
    font-size: 14px;
}
.template-collection .grid-product__title {
    margin-bottom: 4px;
}
}.main-cont, .main-icon-cont, .main-text {
    background-color: #e0ede9;
}
@media only screen and (max-width:480px) {
    .template-cart a.cart__remove {
    margin-top: 4px;
}
.announcement .announcement__text {
    font-size: 10px;
    padding: 7px 5px 6px;
}
.cart-inner .page-width, .free_shipping .page-width {
    padding-left: 15px;
    padding-right: 15px;
}
.cart__row-product .cart__row-content {
    padding-left: 10px;
}
.product-content-right.grid__item.medium-up--two-fifths {
    margin-top: 14px;
}
.slick-dots li {
    margin: 0 3px!important;
}
.mobile-atc {
    display: block;
}
.grid-product__price .sale-price, .product-single__prices span.normal_price {
    display: inline-block;
    margin-bottom: 10px;
}
}@media only screen and (max-width:374px) {
    a.__button.__mobile.btn {
    font-size: 11px;
    padding: 13px 10px;
}
.announcement .announcement__text {
    font-size: 9px;
    padding: 7px 0 6px;
}
header.site-header .page-width {
    padding: 0 15px;
}
header.site-header .site-nav__link--icon {
    padding-left: 3.5px;
    padding-right: 3.5px;
}
header.site-header .site-nav__link--icon .icon, header.site-header .site-nav__thumb-button .icon {
    width: 22px;
    height: 25px;
}
}.product-recommendations a.Custom_Quick_View {
    display: none;
    opacity: 0;
    visibility: hidden;
}
@media only screen and (max-width:768px) {
    .header-item--icons .site-nav {
    margin-right: 0;
}
.template-collection .grid-product__content .btn {
    padding: 8px 10px;
}
.template-collection .grid-product__content .btn span {
    font-size: 13px;
}
.page-content .section-header:not(.template-index .section-header) {
    margin-bottom: 0!important;
}
footer.site-footer.text-center .accordion_subheading {
    text-align: left;
}
.site-footer__copyright>span {
    padding: 0 30px!important;
    display: block;
    word-break: break-word;
}
.accordion_heading {
    display: block;
}
ul.site-footer__linklist {
    display: none;
}
.fix_header .announcement {
    height: 0;
}
.fix_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.fix_header header.site-header {
    box-shadow: 0 0 10px #0000004f;
}
.slide-nav__overflow .close_button {
    padding: 15px 16px 10px;
    border-bottom: 1px solid #ffffff3d;
}
.slide-nav__overflow ul#SlideNav {
    padding-top: 10px;
}
.slide-nav__overflow .close_button svg g {
    stroke: #fff;
}
div#ProductScreens .social-sharing {
    opacity: 0;
    visibility: hidden;
}
}.variant-input.disabled:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #353535;
    transform: rotate(45deg);
    height: 100%;
    width: 1px;
    margin: auto;
}
.variant-input {
    margin: 0 5px 8px 0;
}
.loox-rating, .product-single__header .loox-rating {
    margin-bottom: 10px;
}
.product-single__meta {
    padding-left: 50px;
}
.product__thumb-item.Active--slide {
}
.footer__social a {
    border: 0;
}
@media(max-width:768px) {
    .grid-product__content .grid-product__meta, .slide-nav__overflow--thumb nav.slide-nav__wrapper li.slide-nav__item a, .slide-nav__overflow--thumb nav.slide-nav__wrapper li.slide-nav__item button {
    text-align: left;
}
.skrim-grid {
    margin: 0 -15px;
}
footer.site-footer .accordion_heading h3.main_heading {
    font-family: Cabin, sans-serif;
}
footer .site-footer__copyright span {
    text-align: center;
    margin-top: 15px;
}
.Custom_Quick_View {
    transform: none;
}
div#CollectionSection .page-width {
    padding: 0 10px;
}
div#CollectionSection .grid {
    margin-left: -10px;
}
div#CollectionSection .grid .grid__item {
    padding-left: 10px;
}
.grid-product__content .grid-product__meta .loox-rating i {
    font-size: 13px;
}
.grid-product__content .grid-product__meta .loox-rating span, .grid-product__content .grid-product__title {
    font-size: 15px;
}
.collapsible-content__inner ul, p {
    font-size: .875em;
}
.Main_bundle_Here .builder_card .builder_top_slide .column_box_top p.builder_card_title, .cart__footer .cart__subtotal span, .cart__footer .cart__subtotal span.th_cart_total_price span {
    font-size: 16px;
}
.Main_bundle_Here .builder_card .custom_builder_option label {
    margin: 0 0 3px;
    font-size: 14px;
}
.cart__footer .doubly-message {
    font-size: 14px!important;
}
.cart__item.cart__row .cart__checkout-wrapper {
    margin-top: 20px;
}
.cart__row-product .hulkapps-reminder-msg {
    font-size: 12px;
    line-height: 13px;
}
.cart__row-product .cart__product-image-wrap {
    width: 100px;
}
.template-cart .free_shipping {
    margin-bottom: 10px;
}
.template-cart .cart__product-name {
    font-size: 16px;
    line-height: 20px;
}
.template-cart .qty-main input {
    font-size: 14px!important;
    padding: 7px 0;
}
span.cart__item-subtitle.cart__item-subtitle--inline.cart_variant {
    font-size: 14px;
}
div#looxReviews {
    margin-top: 65px;
}
.product__main-photos--slider .product__slide.secondary-slide, .template-cart .total-price-remove .hulkapps-cart-item-line-price {
    display: block;
}
.template-cart .total-price-remove .hulkapps-cart-item-line-price span {
    padding: 0 3px;
    font-size: 14px;
    line-height: 16px;
}
.cart__row-product .cart__row-content {
    width: calc(100% - 100px);
}
.announcement {
    position: relative!important;
}
.header-layout--mobile-logo-only {
    align-items: center;
}
.header-layout--mobile-logo-only .toggle_header {
    width: 25%;
    display: inline-block;
}
.header-layout--mobile-logo-only .header-item.header-item--icons {
    display: inline-block!important;
    width: 25%}
.header-layout--mobile-logo-only .header-item.header-item--logo {
    width: 50%}
.header-wrapper--overlay:not(.header-wrapper--sticky) .site-header .toggle_header .site-nav__thumb-menu button.btn.site-nav__thumb-button {
    color: #fff;
}
.header-layout--mobile-logo-only .toggle_header .site-nav__thumb-menu button.btn.site-nav__thumb-button {
    height: unset;
    background: 0 0;
    border: 0;
    padding: 0;
    text-align: left;
    color: #000;
}
.header-layout--mobile-logo-only .toggle_header .site-nav__thumb-menu {
    position: relative;
    top: 0;
    bottom: unset;
    margin: 0;
    transform: none;
    display: block;
}
.header-layout--mobile-logo-only .header-item.header-item--icons .site-nav.site-nav--icons {
    justify-content: flex-end;
}
.header-layout--mobile-logo-only .header-item.header-item--logo .h1.site-header__logo {
    margin: 0 auto;
}
.header-layout--mobile-logo-only .toggle_header .site-nav__thumb-menu button.btn.site-nav__thumb-button svg.icon.icon-hamburger {
    display: inline-block;
}
.header-layout--mobile-logo-only .toggle_header .site-nav__thumb-menu button.btn.site-nav__thumb-button span.icon-menu-label {
    display: none;
}
.slide-nav__overflow--thumb {
    transform: translatex(-100vw);
    transition: .25s ease-out!important;
    bottom: unset!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    max-height: unset!important;
    display: block!important;
    height: 100%!important;
}
.slide-nav__overflow--thumb.js-menu--is-open {
    transform: translatex(0);
    z-index: 999999;
}
.slide-nav__overflow--thumb nav.slide-nav__wrapper {
    transform: none!important;
}
header.site-header.small--hide {
    display: block!important;
}
.main-cont {
    margin-left: -15px;
    margin-right: -15px;
}
}.swatch-variant-image, body.template-collection .loox-rating {
    margin-top: 10px;
}
.color-swatch:before {
    border: 2px solid #fff;
}
.grid-product__colors {
    justify-content: flex-start;
}
#loadMore {
    display: inline-block;
    padding: 13px 25px;
    margin: 0;
    width: auto;
    min-width: 90px;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-size: 14px!important;
    white-space: normal;
    cursor: pointer;
    border-radius: 5px;
    color: #000;
    background: #b8d2bc;
    transition: background .15s;
}
span.product__title_color_variants {
    color: #525252;
    font-weight: 500;
    margin-bottom: 0;
    display: inline-block;
}
.collapsible-trigger-btn--borders, .custom-SpaceDesc .product-single__description.rte {
    border-top: 1px solid #e8e8e8!important;
    padding: 15px 0;
}
.loox-rating span:before {
    content: "(";
    position: absolute;
    left: 5px;
    top: 2px;
    height: 100%}
.loox-rating span:after {
    content: ")"}
.grid-product__price {
    color: #525252;
    font-weight: 500;
}
.h1, .spr-header-title.spr-header-title, h1 {
    font-size: 26px;
    font-weight: 800;
    color: #010101;
}
.h1.product-single__title {
    margin-bottom: 0px;
    font-weight: 400;

    font-size: 28px;
}
.section-header__title {
    font-size: 32px;
    font-weight: 600;
}
#bcpo, .collection-filters button.slick-prev.slick-arrow, .grid-product__meta {
    text-align: left;
}
.bcpo .bcpo-label label span, label {
    font-size: 18px;
    font-weight: 500;
    color: #010101;
}
.loox-rating .loox-icon {
    color: #010101;
    font-size: 18px;
    line-height: 1;
}
.loox-rating span {
    font-weight: 700;
    line-height: 1;
    color: #010101;
    position: relative;
    padding-left: 6.14px;
}
.payment-buttons .add-to-cart, .payment-buttons .shopify-payment-button, .payment-buttons .shopify-payment-button__button--unbranded {
    font-size: 14px;
    font-weight: 600;
}
.btn, button {
    font-size: 13px;
    font-weight: 600;
}
.h1, .h3, .h4, .h5, .h6, .section-header__title, .spr-header-title.spr-header-title, h1, h3, h4, h5, h6 {
    letter-spacing: normal;
}
footer.site-footer .footer-bottom a, footer.site-footer .footer-bottom p .feature-row__text--right {
    padding-left: 0;
    padding-right: 0;
}
.iconcolumn p {
    font-size: 15px;
    font-weight: 500;
}
.collapsibles-wrapper--border-bottom {
    border-bottom: 1px solid #e8e8e8;
}
#shopify-section-product-recommendations h2.section-header__title.appear-delay {
    text-align: left;
    margin-bottom: 25px;
}
.site-nav__link {
    padding: 7.5px 10px;
}
.image-metafield-one {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.grid-product__price .sale-price {
    color: red;
}
.product__price {
    color: #525252;
}
.sale-price {
    margin-bottom: 5px;
}
span.variant__label-info {
    color: #707070;
    font-size: 18px !important;
    padding-left: 15px;
}
.size-chart-with-labels {
    display: flex;
    justify-content: space-between;
}
.size-chart-with-labels>a {
    background: 0 0;
    font-size: 16px;
    color: #050507;
    text-decoration: underline;
    text-transform: capitalize;
    padding: 0;
    cursor: pointer;
    z-index: 2!important;
}
body.template-product .feature-row__item--overlap-images>:first-child {
    transform: none;
}
body.template-product .feature-row__item--overlap-images {
    align-items: flex-start;
}
body.template-product .feature-row__item--overlap-images>* {
    width: calc(50% - 7.5px);
}
button.btn.btn--tertiary.btn--full.add-to-cart {
    background-color: #000;
    color: #fff;
    border-color: #000 !important;
}
.overflow-scroller::-webkit-scrollbar {
    width: 0;
}
.add-to-cart, .btn, .shopify-payment-button__button, button {
    border-radius: 5px!important;
    text-transform: uppercase;
}
.variant-input-wrap label.color-swatch {
    height: 26px;
    width: 26px;
    padding: 0;
}
.os2nursebag .variant-input-wrap[data-index=option1] label{
    border:none;
}
.os2nursebag .swatchwrapper{
    margin-right:12px;
}
.os2nursebag .variant-input-wrap label.color-swatch {
    height: 100px;
    width: 100px;
    box-sizing:border-box;
    padding: 20px;
    border:none;
    border-radius: 8px;    
    padding: 39px;
    box-shadow: 1px 3px 15px rgba(0,0,0,0.2) !important;
}
.os2nursebag .variant-input-wrap label.color-swatch::after,
.os2nursebag .variant-input-wrap label.color-swatch::before{
    display:none !important;
}
.os2nursebag .swatchcheck{
    left:7px !important;   
    display:none !important;
}
.variant-input-wrap label {
    text-align: center;
    padding: 0 15px;
    line-height: 30px;
    font-weight: 500;
}
.iconcolumn h4 {
    margin-bottom: 15px;
    text-transform: lowercase;
    font-weight: 600;
}
.iconcolumn h4:first-letter {
    text-transform: uppercase;
}
.btn, .product-reviews .spr-button, .product-reviews .spr-summary-actions a, .rte .btn, .shopify-payment-button .shopify-payment-button__button--unbranded {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    font-weight: 600;
}
.iconcontainer {
    margin: 0 auto;
    max-width: 1040px;
}
#BIS_trigger, .collapsibles-wrapper--border-bottom {
    margin-top: 0!important;
}
.iconcolumn img {
    max-width: 150px;
    margin-bottom: 20px;
}
button.btn.btn--tertiary.overflow-scroller__arrow {
    border-radius: 0!important;
    background: #fff;
    border-color: #fff;
    height: 45px;
    width: 45px;
    padding: 0;
    line-height: 45px;
}
.overflow-scroller__arrow--right {
    right: 30px;
    transform: translateX(0);
}
.overflow-scroller__arrow--left {
    left: 30px;
    transform: translateX(0);
}
.overflow-scroller__arrow--left.overflow-scroller--disable-left, .overflow-scroller__arrow--right.overflow-scroller--disable-right {
    display: block;
    color: rgba(0, 0, 0, .5);
}
.site-footer__linklist li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 1;
}
.site-footer__linklist li a {
    color: #010101;
    font-size: 16px;
    padding: 0;
    margin-bottom: 15px;
}
.product__quantity .input-group {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 85px;
    height: 32px;
    align-items: center;
}
.product__quantity {
    margin-bottom: 45px;
}
.product__quantity input {
    border: 0;
    font-sizE: 20px;
    font-weight: 500;
    min-width: 0;
}
.product__quantity input[name=quantity] {
    flex: 1;
    font-size: 15px;
}
.product-recommendations .loox-rating {
    padding: 10px 0;
    margin: 0;
}
#shopify-section-product-section-template-scrub-caps .sections-wrapper.page-blocks .h2, #shopify-section-product-section-template-scrub-caps .sections-wrapper.page-blocks h2 {
    font-size: 17px;
}
#shopify-section-product-section-template-scrub-caps h2.section-header__title {
    font-size: 25px;
}
div#looxReviews {
    border-top: 1px solid #e8e8e8!important;
    margin-top: 85px;
}
.footer-more-info-inner {
    word-break: break-word;
}
.grid__image-ratio.secondary-alt-image {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%}
.image-wrap:hover .secondary-alt-image {
    opacity: 1;
    display: block;
}
.variant-change-color .variant-input {
    margin-right: 4px;
}
.swatch-variantClick {
    height: 26px;
    width: 26px;
    padding: 0;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.swatch-variantClick.active-variants:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    border: 2px solid #fff;
    border-radius: 100px;
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 15%) inset;
}
.custom-image-with-richtext {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    text-align: center;
    align-items: center;
}
.custom-image-with-richtext .two-featured-image {
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    order: 2;
    width: 50%;
    padding-bottom: 50px;
    margin-left: -30px;
}
.custom-image-with-richtext .image-wrap img {
    text-align: center;
    margin: 0 auto;
}
.custom-image-with-richtext .image-wrap, .product__photo-dots .slick-dots li button:before {
    background: #fff;
}
.custom-image-with-richtext .two-featured-image>div {
    width: 50%}
.custom-image-with-richtext .feature-row.button_main {
    order: 4;
    flex: 1;
}
.custom-image-with-richtext .grid.custom-grid.grid--uniform {
    order: 3;
}
.custom-image-with-richtext .feature-row__item {
    flex: 1;
    padding-left: 0;
    padding-right: 0;
}
.custom-image-with-richtext .main_heading_subheading {
    width: 50%;
    padding: 50px;
}
.custom-image-with-richtext .h2.image_title {
    font-size: 24px;
}
.two-featured-image .main_single-image:first-child {
    z-index: 1;
    transform: translate(30px, -30px);
    padding-top: 30px;
}
.drawer__inner .custom_plus_minus {
    display: flex;
    align-items: center;
    border: 1px solid #000;
}
.drawer__inner .custom_plus_minus input.Custom_cart__quantity {
    width: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
    height: 40px;
    max-width: initial;
}
.drawer__inner .custom_plus_minus .qty-icons-main {
    width: 25%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.drawer__inner .qty-remove {
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.qty-remove .cart__item-price p {
    line-height: initial;
    cursor: pointer;
}
.cart__row-product .cart__product-image-wrap {
    min-width: 100px;
    width: 100px;
}
.cart__item .cart__row-product {
    padding: 0;
}
.desktop-view, .qty-remove .cart__item-price p svg {
    display: block;
}
.cart__item .cart__product-name {
    font-size: 16px;
    line-height: 22px;
}
.cart__item .cart__item-subtitle {
    font-size: 14px;
    color: grey;
}
.cart_drawer_custom .drawer__footer {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #000;
    margin-top: 15px;
}
.cart__row.cart__footer button.btn.cart__checkout, .cart_drawer_custom .drawer__footer button.btn {
    background: #000;
    color: #fff;
}
.cart__item .cart__item-price div, .cart__item .cart__item-price span {
    font-size: 14px;
    margin-top: 8px;
}
.cart_drawer_custom .drawer__inner .drawer__scrollable {
    background: #fff;
    padding-top: 20px!important;
    padding-bottom: 0;
}
.cart_drawer_custom .free_shipping_inner {
    background: #f3f3f3;
    padding: 10px;
}
.cart_drawer_custom .free_shipping_inner .successfull-message .Checked-Icons {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart_drawer_custom .free_shipping_inner .successfull-message .Checked-Icons svg {
    width: 12px;
    margin: 0;
}
.cart_drawer_custom .free_shipping_inner .successfull-message {
    margin: 0 0 10px!important;
}
.cart_drawer_custom .free_shipping_inner .successfull-message p {
    margin: 0;
    font-size: 14px;
}
.cart_drawer_custom .free_shipping_inner .bar {
    height: 10px;
    border-radius: 15px;
}
.cart_drawer_custom .free_shipping_inner .bar .bar-inner {
    border-radius: 15px;
}
.drawer__inner .qty-remove {
    justify-content: flex-end;
}
@media only screen and (min-width:1550px) {
    .feature-row {
    margin: 0;
}
}@media only screen and (min-width:769px) {
    .color-swatch--small {
    width: 30px;
    height: 30px;
}
.product-single__form {
    margin-bottom: 0;
}
.custom-klarna-new {
    margin-top: 0;
}
.loox-reviews-default {
    max-width: 1260px;
    padding: 0 30px;
}
.feature-row__item--overlap-images {
    padding-bottom: 0;
}
.product-reviews--full.index-section {
    padding: 0 30px;
}
.product-content-right.grid__item {
    padding-left: 0;
}
.overflow-scroller .grid__item:first-child {
    margin-left: 0;
}
.overflow-scroller .grid__item:last-child {
    margin-right: 0;
}
.h4, h4 {
    font-size: 18px;
}
.site-nav, .skrim__title, body, input, select, textarea {
    font-size: 16px;
}
.btn, .grid-product__price, button {
    font-size: 15px;
}
.btn, button {
    font-weight: 600;
}
.product-single__prices span:nth-of-type(2) {
    color: #000;
}
span.zip-payment-amount {
    color: red!important;
}
button#BIS_trigger {
    border: 2px solid #b8d2bc;
    border-radius: 25px!important;
}
.bts_container {
    padding: 20px 11px;
    background-color: #e0ede9;
}
.variant-input-wrap label {
    font-size: 14px;
}
}@media (max-width:768px) {
    .custom-grid.grid, .product__photos {
    margin-left: -15px;
}
.size-chart-with-labels .trigger-pop-up, .variant__label {
    font-sizE: 14px;
}
div#shopify-section-cart_free_shipping .free_shipping {
    max-width: 100%;
    padding: 0 30px;
}
.cart_drawer_custom .drawer__header svg.icon.icon-bag {
    width: 20px;
    height: 20px;
}
.cart_drawer_custom .drawer__header a.site-nav__link {
    padding: 10px;
}
div#shopify-section-cart_free_shipping .free_shipping .page-width {
    padding: 0;
}
.cart_drawer_custom .drawer__header {
    height: auto;
}
.cart_drawer_custom .drawer__header a.site-nav__link span.cart-link__bubble {
    width: 12px;
    height: 12px;
    top: 10px;
    right: -5px;
}
.cart_drawer_custom .header-main-cart .drawer__header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.drawer__inner .qty-remove .qty-box {
    width: 85px;
}
.custom-image-with-richtext .h2.image_title, .iconcolumn p, .sections-wrapper.page-blocks .custom-grid.grid p, span.variant__label-info {
    font-size: 12px;
}
.custom-image-with-richtext .main_heading_subheading {
    width: 100%;
    padding: 0 0 50px;
}
.custom-image-with-richtext .image_description p {
    font-size: 14px;
}
.sections-wrapper.page-blocks .h2 {
    font-size: 15px;
    font-weight: 500;
}
.custom-image-with-richtext {
    flex-direction: column;
}
.custom-image-with-richtext .two-featured-image {
    order: 3;
    padding-bottom: 0;
    width: 100%}
.custom-image-with-richtext .grid.custom-grid.grid--uniform {
    order: 2;
}
.custom-grid.grid .grid__item, .product-recommendations .grid__item {
    padding-left: 15px;
}
.sections-wrapper.page-blocks .sections-wrapper.page-blocks .product-single__header .loox-rating {
    margin-bottom: 5px;
}
body.template-collection .loox-rating {
    margin-top: 5px;
}
.product-single__form {
    margin-bottom: 0;
}
.custom-klarna-new {
    margin-top: 0;
}
.iconcontainer, .page-width, .product-reviews--full.index-section, .site-footer .page-width, div#looxReviews {
    padding: 0 15px;
}
.footer__social a {
    width: auto;
    padding: 0;
}
#shopify-section-product-recommendations h2, .h1, .spr-header-title.spr-header-title, h1 {
    font-size: 17px;
}
.product__photos {
    margin-right: -15px;
}
.footer-bottom .footer__social {
    margin-bottom: 35px;
}
footer.site-footer .footer-bottom a, footer.site-footer .footer-bottom p .feature-row__text--right {
    padding-right: 0;
}
.footer-bottom h2.mobile-h2 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
}
.overflow-scroller .grid__item:first-child {
    margin-left: 15px;
}
.feature-row__item--overlap-images {
    margin-left: 0;
}
.feature-row__text--right {
    padding-right: 0;
    padding-left: 0;
}
.variant-input {
    margin: 0 8px 5px 0;
}
.product__quantity {
    margin-bottom: 25px;
    text-align: left;
}
.variant-input-wrap {
    text-align: left;
}
.variant-input-wrap label {
    font-sizE: 12px;
    padding: 0 7px;
    line-height: 24px;
}
.h1.product-single__title {
    margin-bottom: 10px;
    font-size: 24px;
}
.loox-rating {
    margin-bottom: 8px;
}
ul.slick-dots li {
    background: #727272;
    border-radius: 50%}
ul.slick-dots li.slick-active {
    background: #fff;
}
.product__main-photos.product__main-photos--slider {
    padding-bottom: 30px;
}
.product__main-photos .slick-dots {
    padding: 0 20px;
    left: 0;
}
.product-single__meta {
    padding-left: 0;
}
.main-metafield-image {
    width: 100%}
#shopify-section-collection-template .grid__item {
    padding-left: 10px;
}
#shopify-section-collection-template .grid {
    margin-left: -10px;
}
#shopify-section-collection-template .page-width {
    padding: 0 10px;
}
.iconcolumn h4 {
    font-size: 15px;
    line-height: 1.2;
}
footer.site-footer .footer-bottom {
    margin: 30px 0;
}
.iconrow {
    display: flex;
    justify-content: space-between;
}
.iconrow>div {
    width: calc(33.3% - 10px);
}
.product-single__prices {
    -ms-flex-pack: inherit;
    justify-content: inherit;
}
.feature-row__text .btn {
    display: block;
}
.custom-image-with-richtext .rte-setting.text-spacing.image_description {
    display: none;
}
.bcpo .bcpo-label label span, .bcpo .bcpo-label label span.bcpo-value {
    font-size: 14px!important;
}
#bcpo #bcpo-select-option-0 label.bcpo-front-button-label {
    font-size: 12px!important;
    padding: 0 7px!important;
    line-height: 24px!important;
}
}span.product__thumb-icon {
    opacity: 1;
}
.bcpo .bcpo-label label span.bcpo-value {
    color: #707070;
    font-size: 15px;
}
#bcpo-select-option-0 label.bcpo-front-button-label {
    margin: 0 8px 8px 0!important;
    position: relative;
    box-shadow: 0 0 0 1px #ccc;
    text-align: center!important;
    padding: 0 15px!important;
    line-height: 30px!important;
    font-weight: 500;
    min-width: auto!important;
    font-size: 14px;
    border-radius: 100px!important;
    color: #000!important;
    background-color: transparent!important;
    border-color: transparent!important;
}
#bcpo-select-option-0 label.bcpo-front-button-label.bcpo-disabled:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #353535;
    transform: rotate(51deg);
    height: 100%;
    width: 1px;
    margin: auto;
}
#bcpo .bcpo-front-button-option:checked+.bcpo-front-button-label {
    border-color: #000!important;
    box-shadow: none;
}
.bcpo-colors .single-option-selector .bcpo-color-parent {
    margin: 0 8px 8px 0!important;
}
.single-option-selector.bcpo-circle .bcpo-color-parent {
    width: 30px!important;
    height: 30px!important;
    border: 0!important;
    position: relative!important;
}
.single-option-selector.bcpo-circle .bcpo-color-parent label.bcpo-front-color-label:before {
    content: ""!important;
    width: 30px!important;
    height: 30px!important;
    border: 1px solid #d5d5d5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 100px;
}
.single-option-selector.bcpo-circle .bcpo-color-parent label.bcpo-front-color-label {
    width: 26px!important;
    height: 26px!important;
    box-shadow: none!important;
    border: 2px solid #fff!important;
}
.single-option-selector.bcpo-circle .bcpo-color-parent input:checked+label.bcpo-front-color-label:before {
    border-color: #000;
}
#bcpo .bcpo-label>label {
    padding-bottom: 15px;
}
.selector-wrapper.bcpo-buttons .single-option-selector {
    margin-bottom: 13px!important;
}
.main-icon-cont {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 25px;
}
.collection-filter__group {
    width: 100%;
    max-width: 100%;
    text-align: center;
}
.main-icon-cont .sub-icon-cont {
    width: 33.33%;
    float: left;
    padding: 0 10px;
    text-align: center;
}
.main-icon-cont .sub-icon-cont .sub-icon-cont1 {
    max-width: 90px;
    margin: 0 auto 5px;
}
p.main-textamonials {
    font-style: italic;
    color: #707070;
    padding-bottom: 10px;
}
.main-cont {
    padding: 25px 10px 15px;
}
#BIS_trigger {
    border-radius: 25px!important;
}
.main-text {
    color: #707070;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 0;
}
.cart__row-product.ajaxcart__row-product[data-firstvalue=true_false] .Cart-hidden-data {
    opacity: 0;
    pointer-events: none;
    user-select: none;
    visibility: hidden;
}
.drawer {
    overflow: auto;
}
.overlay-applied:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0;
}
.drawer__close.text-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.drawer__close-button {
    right: 0;
    padding: 0;
}
.drawer__footer, .drawer__header, .drawer__scrollable {
    padding-left: 30px;
    padding-right: 30px;
}
.collection-filter__wrapper span.color-swatch {
    margin: 0 auto;
}
.collection-filters {
    margin: 25px 0;
}
.collection-filters button.slick-arrow {
    font-size: 0!important;
}
.collection-filters .slick-track {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: auto!important;
}
@media(max-width:576px) {
    .payment-icons li {
    margin: 0 2px;
}
.template-collection .grid-product__title {
    font-size: 16px;
    text-transform: inherit;
    line-height: 20px;
    margin-bottom: 4px;
}
header.site-header.small--hide .page-width {
    padding: 0 10px;
}
.collection-filter__inner {
    padding: 0 24px;
}
.collection-filters .color-swatch--filter {
    width: 24px;
    height: 24px;
}
.collection-filters li {
    margin: 0 4px;
}
.collection-filters button.slick-arrow::before {
    font-size: 18px;
}
.collection-filters button.slick-arrow {
    font-size: 0!important;
    width: auto;
    height: unset;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.collection-filters .slick-list {
    display: flex;
    flex-wrap: wrap;
}
.collection-filters button.slick-prev.slick-arrow {
    text-align: left;
    left: -5px;
}
.collection-filters button.slick-next.slick-arrow {
    right: -5px;
}
}@media (max-width:480px) {
    div#shopify-section-cart_free_shipping .free_shipping {
    padding: 0 15px;
}
.cart__row-product .cart__product-image-wrap {
    min-width: 80px;
    width: 80px;
}
.cart__row-product .ajaxcart__item-content {
    padding-left: 10px;
}
.drawer__inner .qty-remove {
    flex-direction: column;
    align-items: flex-end;
}
.qty-remove .cart__item-price p {
}
.drawer__inner .custom_plus_minus .qty-icons-main, .drawer__inner .custom_plus_minus input.Custom_cart__quantity {
    height: 30px;
    font-size: 13px!important;
}
.cart__item .cart__product-name {
    font-size: 14px;
    line-height: 18px;
}
.cart__item .cart__item-subtitle {
    font-size: 12px;
}
.cart__item .cart__item-price div, .cart__item .cart__item-price span {
    font-size: 12px;
    margin-top: 5px;
}
.qty-remove .cart__item-price p svg {
    width: 18px;
    height: 18px;
}
.drawer__footer, .drawer__header, .drawer__scrollable {
    padding-left: 15px;
    padding-right: 15px;
}
}@media (max-width:374px) {
    .rate.banner_text_announcmenet {
    padding: 7px 20px 6px!important;
}
.cart__row-product .cart__product-image-wrap {
    min-width: 60px;
    width: 60px;
}
.drawer__inner .cart__note {
    font-size: 10px;
}
}.bts_container, .product-single__header .bts_container {
    padding-top: 0;
}
.cart_drawer_custom {
    position: relative;
}
p.unlock_text {
    margin: -1px 5px 0 0;
}
.unlock-msg b, span.svg-img {
    margin-left: 5px;
}
.drawer__footer.cart__footer {
    position: sticky;
    z-index: 1;
    bottom: 0;
    background: #fff;
}
.unlockmsg {
    width: calc(100% - 60px);
    margin: 0 auto;
}
span.svg-img svg {
    fill: #fff;
    width: 70%}
span.svg-img {
    display: inline-flex;
    height: 25px;
    width: 25px;
    background: #b8d2bc;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.product-section .payment-buttons .btn--tertiary {
    padding: 13.97px;
    border-radius: 8px!important;
    width: 100%}
.main-hero-wrapper .__button {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 0 0 100%!important;
}
.product-single__form.small--text-center a.trigger-pop-up.btn {
    padding: 13px 10px;
}
button.btn.btn--tertiary.btn--full.add-to-cart {
    width: 100%}
.payment-buttons button.btn.btn--tertiary.btn.btn--full.add-to-cart {
    background: #000!important;
    color: #fff!important;
    border-radius: 5px!important;
    border: 2px solid #000!important;
}
.payment-buttons button.btn.btn--tertiary.btn.btn--full.add-to-cart:hover {
    background: #fff!important;
    color: #000!important;
}
button#BIS_trigger {
    border: 2px solid #b8d2bc!important;
    border-radius: 5px!important;
    background: #b8d2bb!important;
    color: #000!important;
    font-size: 14px;
    font-weight: 600;
}
.Cus_buttons_wrapper_btns {
    display: flex;
    justify-content: center;
    width: 100%}
.Cus_buttons_wrapper_btns a {
    margin: 0 10px;
    line-height: 1.3rem;
    font-size: 18px;
}
#shopify-section-1644938801d45b0002 .__button {
    flex: 0 0 47%;
    margin: auto;
    text-align: center;
    ALIGN-ITEMS: center;
    display: flex!important;
    justify-content: center;
}
.sale-price {
    color: red!important;
}
.grid-product__price, .product__price, .sale-price {
    font-size: 20px;
}
.custom_builder_option .size-chart-with-labels {
    justify-content: flex-end;
    order: 3;
    position: relative;
    top: -28px;
}
ul.slick-dots li {
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #000;
}
ul.slick-dots li button {
    width: 6px;
    height: 6px;
}
.product-single__meta {
    margin-top: 0;
}
.product-single__header {
    margin-bottom: 8px;
}
@media only screen and (max-width:480px) {
    #shopify-section-collection-new-filters {
    padding-top: 12px;
}
}.product__title_color_variants {
    text-transform: capitalize;
}
.announcement {
    z-index:  99992;
}
.site-header--sticky {
    z-index:  99999;
}
.bundlelink {
    display:  none;
    text-align:  center;
    text-decoration:  underline;
    width:  100%;
    margin:  20px auto 0;
    font-weight: bold;
}
.bundlelink span {
    color: #000080 !important;
}
.embroi-image {
    position: relative;
    padding: 12px;
}
.flyingname,  .flyingsub {
    position: static !important;
    text-align: left;
    font-size: 14px;
}
.superpos-flying {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.flyingicon,  .flyingini {
    position: static !important;
    left: 65px;
}
.flyingini {
    padding: 16px;
}
.embroi-image {
    display: flex;
    justify-content:  center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 12px;
}
.concan {
    flex: 0 0 100%;
}
.flyingname {
}
.flyingicon {
    top: 22%;
    width: 39px }
.flyingsub {
}
.embroi-image {
    background: #91A1A0;
}
.cart-embroidery {
    text-align: left;
}
.flyingini {
    top: 72%;
}
@media only screen and (max-width:480px) {
    .inner-modal {
    position: relative;
    padding: 12px 21px;
}
.embroi-details {
    text-align: left;
}
.flyingname,  .flyingsub {
    left:  10px;
    text-align:  left;
    position: absolute;
    font-size: 11px;
}
.flyingicon,  .flyingini {
    position: absolute;
    left: 52px;
    font-size: 11px !important;
}
.flyingini {
    top: 19%;
}
.flyingicon {
    top: 37%;
    width: 39px }
}.inner-modal {
    position: relative;
}
div[data-index="option3"] .label_options.disabled {
    display: none;
}
.midler {
    display: inline-block;
    width: 84%;
}
.icon-user {
    display: none !important;
}
.abhider {
    display: none;
}
.cart__detail-title {
    margin-bottom: 12px }
@media only screen and (max-width:768px) {
    .slide-nav__item: nth-last-child(2)  {
    display: none !important;
}
}
.hidder {
    display: none;
}
div#SearchModal {
    z-index: 999999;
}
.bottomers {
    position: absolute;
    bottom: 18%;
}
.fullheight {
    height: 100%;
    position: relative;
}
.fullheight p {
    display: none;
}
.trigger-pop-up.btn {
    padding:  11px 15px!important;
    background:  #fff!important;
    color:  #050507!important;
    border:  1px solid #050507;
    position:  relative;
    font-size:  14px;
    font-weight:  400;
    text-decoration:  none;
    top:  -9px;
    line-height:  1em;
}
.trigger-pop-up.btn:hover {
    border: none !important;
}
.error_message5 {
    color:  red;
    font-weight:  900;
    margin-bottom: 12px;
}
@media only screen and (max-width:768px) {
    .slide-nav__item: nth-last-child(2)  {
    display: none !important;
}
}
@media only screen and (max-width:480px) {
    .fullheight p {
    display: block;
}
.trigger-pop-up.btn {
    padding:  9px 15px!important;
}
}
.next-spend-msg span {
    color: #000;
}
.sticky-color-list,  .sticky-size-list,  .sticky-price-list {
    list-style-type:  none;
    padding: 0;
    margin: 0;
}
.sticky-price-list li,  .sticky-color-list li,  .sticky-size-list li {
    display: none;
    text-decoration: none;
    text-align: left;
    padding: 8px;
}
.sticky-color-list li:hover,  .sticky-size-list li:hover,  .sticky-price-list li:hover {
    background: #000;
    color: #fff;
}
.swatch-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
}
.sticky-type,  .sticky-price,  .sticky-color,  .sticky-size {
    display: inline-block;
    font-family:  Oxygen,  sans-serif;
    vertical-align:  middle;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
}
.sticky-size {
    text-transform: uppercase !important;
}
.mobile-atc p {
    text-align: left;
    padding-left: 8px;
    margin-bottom: 0;
}
.sticky-price {
    text-align: right;
}
.flexerx {
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
    align-items: center;
    margin-bottom:  6px;
    margin-top:  4px;
    display: none;
}
.flexerx > span {
    flex: 1;
    display: inline-block;
    text-align:  center !important;
}
span.sticky-color {
    flex: 0 0 28%;
}
.cart__details  {
    margin-bottom :  12px;
    display :  flex !important;
}
.cart__detail-title  {
    margin-bottom :  0px;
    font-size: 16px !important;
}
div#CartDrawer {
    z-index: 999999 !important;
}
.footer_text {
    line-height:  31px;
    letter-spacing:  1.6px;
}
.collection-variant-tag {
    display:  inline-block;
    position:  absolute;
    padding:  7px 11px;
    color:  #080d32;
    background:  #F5BE15;
    bottom:  12px;
    text-transform: uppercase;
    left:  12px;
    z-index:  9;
    font-size:  16px;
    font-weight:  500;
    font-family:  Oxygen,  sans-serif;
}
.colorhere {
    font-size: 15px;
    color: #707070;
}
.dotspacer {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 15px;
    position:  relative;
    top:  -1px;
}
span.variant__label-info {
    position:  relative;
    top:  -1px;
}
.datahere {
    font-size: 18px !important;
    color: #707070;
    position:  relative;
    top:  -1px;
}
ul.no-bullets.tag-list.tag-list--swatches.slick-carousel {
    display:  flex;
    align-items:  center;
    justify-content:  center;
}
@media only screen and (min-width:480px) {
    .template-product fieldset.variant-input-wrap {
    display:  flex;
    align-items:  center;
    justify-content:  flex-start;
}
.variant-input-wrap[name='Color'] {
    display: flex;
}
}
@media only screen and (max-width:480px) {
    .collection-variant-tag {
    font-size:  11px;
    padding:  3px 6px;
    right: 9px;
    left: auto;
}
.datahere {
    font-size: 12px;
    top:  0;
}
.dotspacer {
    top:  0;
}
span.variant__label-info {
    top:  0px;
}
}
.dynadelete {
    display: none !important;
}
#SlideNav {
    display: none;
}
.template-product fieldset.variant-input-wrap {
    display:  flex;
    align-items:  center;
    padding:  0px;
    justify-content:  flex-start;
    flex-wrap:  wrap;
}
.cone select[data-index='xoption2'] {
    display: none;
    display: none;
}
button.btn.btn--tertiary.btn--full.xxxs {
    background: #000;
    color: #fff !important;
    margin-left: 12px;
    display: inline-block;
    border: 2px solid #000 !important;
    border-color: #000 !important;
}
button.btn.btn--tertiary.btn--full.xxxs:hover {
    background: #fff !important;
    border: 2px solid #000;
    color: #000 !important;
}
.flexerselect {
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;
}
.flexerselect .trio {
    flex: 0 0 30%;
    width: 100%;
}
@media only screen and (max-width:480px) {
    .flexerselect .trio {
    font-size:  11px !important;
    padding-top:  8px;
    height:  43px;
    margin-top:  7px;
}
.product__photo-dots {
    height: 0;
}
.product-content-right.grid__item.medium-up--two-fifths {
    margin-top: 0 !important;
}
}
.cts-flexer .loox-rating .loox-icon {
    font-size: 12px;
}
.proddesclose {
    width:  34px;
    height:  34px;
    min-width: auto;
    padding: 0;
    position:  absolute;
    top:  12px;
    min-width:  0;
    padding:  0 !important;
    right:  12px;
    left:  unset !important;
}
.roddesclose {
    margin:  33px auto 0;
    display:  block;
    background: #000 !important;
    color: #fff !important;
    border: 2px solid #000 !important;
}
.pop-up-content  {
    width:  100%;
    max-width:  1100px;
}
button.btn.btn--circle.btn--large.close-button {
    padding:  0 !important;
    min-width: 0;
}
.variant-wrapper.variant-wrapper--button.js.div_3.total_div {
    margin-top: -12px;
}
.baby-pink,  .Wom .variant-input[data-value='Baby Pink'],  .new-template-scrubs .product-tabs-data[value='baby-pink'] {
}
square-placement {
    margin-bottom: 0 !important;
}
.custom-option-value {
    display: none;
}
.site-nav__item {
    font-size: 14px;
}
@media only screen and (min-width:481px) {
    .site-nav__dropdown-link {
    font-size: 14px;
}
.iconsizer {
    width:  13px;
    height:  auto;
    position:  relative;
    left:  -9px;
    z-index:  999;
    color: #000 !important;
    stroke:  black !important;
    fill:  black !important;
}
.iconsizer.icon-chevron-up {
    display: none }
.site-nav__dropdown .flexer {
    justify-content:  space-between !important;
}
.hoverimage {
    width: 100%;
    display: block;
    height: auto;
    padding-left: 20px;
}
.hoverimage {
    max-height: 250px;
    overflow-y: hidden;
    border-radius:  12px;
}
.hoverimage img {
    border-radius:  12px;
}
.hoverimage img,  .hoverimage {
    width: 100%;
    display: block;
}
.site-nav__dropdown .flexer {
    max-width:  1300px;
    margin-left: auto;
    margin-right: auto;
}
.page-width {
    max-width:  1300px;
    margin-left: auto;
    margin-right: auto;
}
.site-nav__dropdown {
    padding: 30px 0;
    display: none;
    justify-content:  space-between;
    flex-wrap: wrap;
    top: 76%;
}
.site-nav__dropdown ul  {
    column-count:  2;
    column-gap:  20px;
    padding:  0;
    list-style:  none;
}
.site-nav__dropdown:hover,  .is-focused .site-nav__dropdown {
    justify-content:  space-between;
    flex-wrap: wrap;
    display: flex !important;
}
.site-nav__item {
    position: static !important;
}
.side {
    width: 33%;
    padding: 0 12px;
}
.side img {
    width: 100%;
    margin-bottom: 12px;
}
.midside {
    width: 33%;
}
}