.sl-brandstyle-7ca4b260-85a7-48e3-8f8c-17f859bd5cd8 .sl-font-style--title {
font-family: Futura;
font-weight: 700;
font-style: normal;
}
.sl-brandstyle-7ca4b260-85a7-48e3-8f8c-17f859bd5cd8 .sl-font-style--body {
font-family: Oxygen;
font-weight: 400;
font-style: normal;
text-transform: uppercase;
}
.sl-brandstyle-7ca4b260-85a7-48e3-8f8c-17f859bd5cd8 .sl-font-style--button {
font-family: Oxygen;
font-weight: 400;
font-style: normal;
text-transform: uppercase;
}
.sl-brandstyle-7ca4b260-85a7-48e3-8f8c-17f859bd5cd8 .sl-font-style--label {
font-family: Oxygen;
font-weight: 300;
font-style: normal;
text-transform: uppercase;
}
.sl-pattern-471005f4-db24-462b-a4c7-edde6c67ce26 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #050507;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-471005f4-db24-462b-a4c7-edde6c67ce26 .sl-font-style--title { color: #050507; }
.sl-pattern-471005f4-db24-462b-a4c7-edde6c67ce26 .sl-font-style--body { color: #050507; }
.sl-pattern-471005f4-db24-462b-a4c7-edde6c67ce26 .sl-font-style--button { color: #050507; }
.sl-pattern-471005f4-db24-462b-a4c7-edde6c67ce26 .sl-font-style--label { color: #050507; }
.sl-pattern-471005f4-db24-462b-a4c7-edde6c67ce26 .sl-button--brand-style {
color: #050507;
background-color: #ffffff;
}
.sl-pattern-66163978-2358-4e08-bb19-aa97082573db {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #fafafa;
--sl-gv-btn-bg-color: #02071c;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-66163978-2358-4e08-bb19-aa97082573db .sl-font-style--title { color: #fafafa; }
.sl-pattern-66163978-2358-4e08-bb19-aa97082573db .sl-font-style--body { color: #fafafa; }
.sl-pattern-66163978-2358-4e08-bb19-aa97082573db .sl-font-style--button { color: #fafafa; }
.sl-pattern-66163978-2358-4e08-bb19-aa97082573db .sl-font-style--label { color: #fafafa; }
.sl-pattern-66163978-2358-4e08-bb19-aa97082573db .sl-button--brand-style {
color: #fafafa;
background-color: #02071c;
}
.sl-pattern-66163978-2358-4e08-bb19-aa97082573db .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-57f98048-8dc1-4fb3-b2a0-6d9af2ab0e8d {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-57f98048-8dc1-4fb3-b2a0-6d9af2ab0e8d .sl-font-style--title { color: #050507; }
.sl-pattern-57f98048-8dc1-4fb3-b2a0-6d9af2ab0e8d .sl-font-style--body { color: #000000; }
.sl-pattern-57f98048-8dc1-4fb3-b2a0-6d9af2ab0e8d .sl-font-style--button { color: #000000; }
.sl-pattern-57f98048-8dc1-4fb3-b2a0-6d9af2ab0e8d .sl-font-style--label { color: #000000; }
.sl-pattern-57f98048-8dc1-4fb3-b2a0-6d9af2ab0e8d .sl-button--brand-style {
color: #000000;
background-color: #ffffff;
}
.sl-pattern-7ef5549f-572a-40d8-b5c3-b8dfa7577c90 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #050507;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-7ef5549f-572a-40d8-b5c3-b8dfa7577c90 .sl-font-style--title { color: #050507; }
.sl-pattern-7ef5549f-572a-40d8-b5c3-b8dfa7577c90 .sl-font-style--body { color: #050507; }
.sl-pattern-7ef5549f-572a-40d8-b5c3-b8dfa7577c90 .sl-font-style--button { color: #050507; }
.sl-pattern-7ef5549f-572a-40d8-b5c3-b8dfa7577c90 .sl-font-style--label { color: #050507; }
.sl-pattern-7ef5549f-572a-40d8-b5c3-b8dfa7577c90 .sl-button--brand-style {
color: #050507;
background-color: #ffffff;
}
.sl-pattern-ab2eec28-46d2-4587-b536-895c064afe99 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #b8d2bc;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-ab2eec28-46d2-4587-b536-895c064afe99 .sl-font-style--title { color: #050507; }
.sl-pattern-ab2eec28-46d2-4587-b536-895c064afe99 .sl-font-style--body { color: #050507; }
.sl-pattern-ab2eec28-46d2-4587-b536-895c064afe99 .sl-font-style--button { color: #ffffff; }
.sl-pattern-ab2eec28-46d2-4587-b536-895c064afe99 .sl-font-style--label { color: #050507; }
.sl-pattern-ab2eec28-46d2-4587-b536-895c064afe99 .sl-button--brand-style {
color: #ffffff;
background-color: #b8d2bc;
}
.sl-pattern-ab2eec28-46d2-4587-b536-895c064afe99 .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-9d30c639-9986-4333-970a-0b47193b451b {
background-color: #f7f7f7;
border-style: none;
--sl-gv-bg-color: #f7f7f7;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #f7f7f7;
}
.sl-pattern-9d30c639-9986-4333-970a-0b47193b451b .sl-font-style--title { color: #000000; }
.sl-pattern-9d30c639-9986-4333-970a-0b47193b451b .sl-font-style--body { color: #000000; }
.sl-pattern-9d30c639-9986-4333-970a-0b47193b451b .sl-font-style--button { color: #000000; }
.sl-pattern-9d30c639-9986-4333-970a-0b47193b451b .sl-font-style--label { color: #000000; }
.sl-pattern-9d30c639-9986-4333-970a-0b47193b451b .sl-button--brand-style {
color: #000000;
background-color: #f7f7f7;
}
