{% section 'collection-header' %}

{% section 'collection-filters' %}

<div class="page-width">
  <div class="grid grid--uniform grid--scattered-large-3 grid--scattered-small-2">
    {% section 'collection-template' %}
  </div>
</div>
