{% comment %} Time now {% endcomment %}
{%- assign month = "now" | date: "%m" -%}
{%- assign year = "now" | date: "%Y" -%}

<div class="page-width page-content">

	<div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <header class="section-header">
        <h1 class="section-header__title">
          {{ page.title | replace: "$month$", month | replace: "$year$", year }}
        </h1>
      </header>

      <div class="rte rte--nomargin">
        {{ page.content | replace: "$month$", month | replace: "$year$", year }}
      </div>

    </div>
  </div>

</div>
